{% extends "Base/index.html" %}
{% load static %}
{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Payment /</span> {{ pageTitle }}
        </h4>
       
                                    <div class="card my-4">
                                        <div class="card-header">
                                          <h3>Create Account</h3>
                                        </div>
                                        <div class="card-body">
                                          <div class="row mb-4">
                                            <div class="col">
                                              <label for="company">RV Number</label>
                                              <input type="text"
                                                     class="form-control"
                                                     placeholder="rv number"
                                                     required="required"
                                                     id="rvnumber"/>
                                            </div>
                                            <div class="col">
                                              <label for="company">Recieved From</label>
                                              <input type="text"
                                                     class="form-control"
                                                     placeholder="Recieved from"
                                                     required="required"
                                                     id="Recievedfrom"/>
                                            </div>
                                          </div>
                                          <div class="row mb-4">
                                            <div class="col">
                                              <label for="company">RV Account</label>
                                              <input type="text"
                                                     class="form-control"
                                                     placeholder="Amount"
                                                     required="required"
                                                     id="amount"/>
                                            </div>
                                            <div class="col">
                                              <label for="company">Personal ID</label>
                                              <input type="text" class="form-control" id="mother_name" disabled placeholder="Personal ID">
                                            </div>
                                          </div>
                                          <div class="row mb-4">
                                            <div class="col">
                                              <label for="company">RVAmount</label>
                                              <input type="text" class="form-control" id="mother_name" disabled placeholder="Rv amount">
                                            </div>
                                            <div class="col">
                                                <label for="company">Mother's Name ID</label>
                                                <input type="text" class="form-control" id="mother_name" disabled placeholder="Mother's Name">
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="d-flex justify-content-end align-items-end mb-4 me-4 ">
                                            <button type="submit" class="btn btn-primary btn-lg active">Save</button>
                                          </div>
                                      </div>
                                   
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src={% static "scripts/finance/re.js" %}></script>
{% endblock scriptData %}
