{% load static %}
{% block cssData %}
    <link rel="stylesheet" href="{% static "assets/css/customer/modal.css" %}"/>
    <link rel="stylesheet" href={% static "assets/css/jquery-ui/ui.css" %}>
    
{% endblock cssData %}
{% block content %}
    <div class="overlay hidden"></div>
    <div class="model-contaier hidden">
        <div class="model">
            <div class="model-content">
                <div>
                    <h4>Edit Receipt</h4>
                    <hr/>
                </div>
                <form id="updaterecitfrom">
                    {% csrf_token %}
                    <div class="col">
                        <label class="form-label">Search customer</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                          <input id="rcfrom"
                                 type="text"
                                 class="form-control"
                                 placeholder="Search..."
                                 aria-label="Search..."
                                 aria-describedby="basic-addon-search31"/>
                        </div>
                    </div>
                    <div class="col row gap-2 me-2">
                        <div class="col">
                            <label for="company">Rv Number</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="rvnumber"
                                   required="required"
                                   id="rvnumber"/>
                        </div>
                        <div class="col me-2">
                            <label for="company">Amount</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="amount"
                                   required="required"
                                   id="rvamount"/>
                        </div>
                    </div>
                    <div class="row mb-4 gap-2 pt-3 me-2">
                        <div class="col">
                            <label for="reciept">Reason</label>
                            <textarea class="form-control" id="reason" placeholder="write your reason here" rows="4" id="reason" required="required">
                                </textarea>
                        </div>
                    </div
                    >
                    <div class="mt-4 d-flex align-items-end justify-content-end">
                        <button type="submit" class="btn btn-primary" id="update">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src={% static 'assets/js/jquery-ui/ui.js' %}></script>
    <script src="{% static "scripts/company/editModal.js" %}"></script>
{% endblock scriptData %}
