{% extends "../Base/index.html" %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Users /</span> {{ pageTitle }}
        </h4>
        <div class="col-12">
            <div class="card">
                {% csrf_token %}
                <input type="hidden" remove_role = {{ perms.Users.remove_role_from_group }} add_role = {{ perms.Users.manage_role_groups }} delete={{ perms.auth.delete_group }} edit={{ perms.auth.change_group }} id="permissions">
                <div class="card-body">
                    {% if perms.auth.add_group %}
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-start align-items-center">
                                <button class="mb-4 btn btn-primary " id="new_group">Create Group</button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-resposive">
                        <table id="group_permissions" class="table dt-responsive w-100">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    <th>***</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Group -->
        <div class="modal fade zoomIn create_new_group"
             tabindex="-1"
             aria-labelledby="zoomInModalLabel"
             aria-hidden="true"
             style="display: none">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="zoomInModalLabel">Add Group</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="create_new_groupForm">
                            <div class="mb-2">
                                <label class="form-label">Group Name</label>
                                <input type="text"
                                       id='group_name'
                                       class="form-control"
                                       placeholder="Group Name">
                            </div>
                            <button id='add_new_group' type="submit" class="w-100 btn btn-primary ">Save Changes</button>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Show Permissions -->
        <div class="modal fade zoomIn group_permisions_roles"
             tabindex="-1"
             aria-labelledby="zoomInModalLabel"
             aria-hidden="true"
             style="display: none">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="zoomInModalLabel">Add Group</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table id="group_permisions_rolesTable"
                               class="table table-bordered dt-responsive w-100">
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Name</th>
                                    <th>Code Name</th>
                                    {% if perms.Users.remove_role_from_group %}<th>Action</th>{% endif %}
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    {% endblock %}
    {% block scriptData %}
        <script src={% static 'scripts/role/manage.js' %}></script>
    {% endblock %}
