{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>VRLS {{ pageTitle }}</title>
        {% include "./header.html" %}
        <style>
			.h-full{
				height:50vh
			}
			@media (max-width:780px) {
				.h-full {
					height: 100vh
				}
			}
			h2, p ,a {
				z-index:10
			}

			img {
				z-index:0;
			}
        </style>
    </head>
    <body>
        <div class="container-xxl container-p-y">
            <div class="misc-wrapper d-flex align-items-center flex-column justify-content-center position-relative h-full">
                <h2 class="mb-2 mx-2 ">Page Not Found :(</h2>
                <p class="mb-4 mx-2">Oops! 😖 The requested URL was not found on this server.</p>
                <a href="{% url "Dashboard" %}" class="btn btn-primary">Back to home</a>
                <img src="{% static "assets/img/customers/404.png" %}"
                     alt="page-misc-error-light"
                     height="100%"
                     width="100%"
                     class="img-fluid position-absolute top-0 start-0"
                     data-app-dark-img="illustrations/page-misc-error-dark.png"
                     data-app-light-img="illustrations/page-misc-error-light.png"/>
            </div>
        </div>
        {% include "./footer.html" %}
    </body>
</html>
