{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VRLS | {{ pageTitle }}</title>
        <!-- Bootstrap Css -->
        <link rel="stylesheet"
              href="{% static  "assets/vendor/css/core.css" %}"
              class="template-customizer-core-css"/>
        <link rel="stylesheet"
              href="{% static  "assets/vendor/css/theme-default.css" %}"
              class="template-customizer-theme-css"/>
        <link rel="stylesheet" href={% static  "assets/css/demo.css" %} />
        {% block cssStyle %}{% endblock %}
    </head>
    <body>
        {% block printData %}{% endblock %}
        <!-- Script Statements -->
        <script>{% comment %} let BASE_URL = 'http://127.0.0.1:8000/'; {% endcomment %}</script>
        {% block scriptsJS %}{% endblock %}
    </body>
</html>
