{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo mt-3 mb-5">
    <a href="{% url 'Dashboard' %}" class="app-brand-link">
      <img src={% static "brand/logo.png" %} alt="Logo" width="100%">
    </a>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item {% if pageTitle == 'Dashboard' %}active{% endif %}">
      <a href="{% url 'Dashboard' %} " class="menu-link">
        <i class="menu-icon tf-icons bx bx-envelope"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>
    <li class="menu-item {% if pageTitle == 'Register Customer' %} active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon bx bx-user'></i>
        <div data-i18n="Customers">Customer</div>
      </a>
      <ul class="menu-sub ">
        <li class="menu-item {% if pageTitle == 'Register Customer' %} active{% endif %}">
          <a href="{% url 'register_customer' %}" class="menu-link">
            <div data-i18n="Register">Register</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'Actiavte Customer' %} active{% endif %}">
          <a href="dashboards-crm.html" class="menu-link">
            <div data-i18n="Actiavte">Actiavte</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'Customer List' %} active{% endif %}">
          <a href="dashboards-crm.html" class="menu-link">
            <div data-i18n="Customer">Customer List</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- company -->
    <li class="menu-item {% if pageTitle == 'register company' or pageTitle == 'view_Company' or pageTitle == 'detail company' or pageTitle == 'block company' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-building"></i>
        <div data-i18n="Dashboards">Company</div>
      </a>
      <ul class="menu-sub ">
        <li class="menu-item {% if pageTitle == 'register company' %}active{% endif %}">
          <a href="{% url 'register_company' %}"class="menu-link">
            <div data-i18n="Analytics">Register</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'block company' %}active{% endif %}">
          <a href="{% url 'comapny_block' %}" class="menu-link">
            <div data-i18n="Analytics">Block Company</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'view_Company' %}active{% endif %}">
          <a href="{% url 'view_company' %}" class="menu-link">
            <div data-i18n="CRM">Company View</div>
          </a>
        </li>
        <!-- <li class="menu-item">
          <a href="{% url 'company-profile' % }" class="menu-link">
            <div data-i18n="CRM">Company details</div>
          </a> -->
      </li>
    </ul>
  </li>
  <li class="menu-item {% if pageTitle == 'Register vehicle' or pageTitle == 'Assign Aplate' or  pageTitle == 'Transfer Vehicle' or  pageTitle == 'View Vehicles' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-car"></i>
      <div data-i18n="Dashboards">Vehicles</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item {% if pageTitle == 'Register vehicle' %}active{% endif %}">
        <a href="{% url 'register-vehicle' %}" class="menu-link">
          <div data-i18n="CRM">Register Vehicle</div>
        </a>
      </li>
      <li class="menu-item {% if pageTitle == 'Assign Aplate' %}active{% endif %}">
        <a href="{% url 'asign-plate' %}" class="menu-link">
          <div data-i18n="CRM">Assign Plate</div>
        </a>
      </li>
      <li class="menu-item {% if pageTitle == 'Transfer Vehicle' %}active{% endif %}">
        <a href="{% url 'transfer' %}" class="menu-link">
          <div data-i18n="CRM">Transfer Vehicles</div>
        </a>
      </li>
      <li class="menu-item {% if pageTitle == 'View Vehicles' %}active{% endif %}">
        <a href="{% url 'veiw-vehicle' %}" class="menu-link">
          <div data-i18n="CRM">View Vehicles</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item {% if pageTitle == 'Accounts' or pageTitle == 'Create Account' or pageTitle == 'Receipts' or pageTitle == 'Create Receipt' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-dollar-circle"></i>
      <div data-i18n="Dashboards">Payments</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item {% if pageTitle == 'Accounts' or pageTitle == 'Create Account' %}active{% endif %}">
        <a href={% url 'AccountsPage' %} class="menu-link">
          <div data-i18n="Analytics">Accounts</div>
        </a>
      </li>
      <li class="menu-item {% if pageTitle == 'Receipts' or pageTitle == 'Create Receipt' %}active{% endif %}">
        <a href={% url 'ReceiptsPage' %} class="menu-link">
          <div data-i18n="Analytics">Receipts</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item {% if pageTitle == 'Register License' or pageTitle == 'Renew License' or  pageTitle == 'License Lists' %}active open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-dollar-circle"></i>
      <div data-i18n="Dashboards">License</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item {% if pageTitle == 'Register License' %}active{% endif %}">
        <a href={% url 'NewLicense' %} class="menu-link">
          <div data-i18n="Analytics">New License</div>
        </a>
      </li>
      <li class="menu-item {% if pageTitle == 'Renew License' %}active{% endif %}">
        <a href={% url 'ReNewLicense' %} class="menu-link">
          <div data-i18n="Analytics">Re-new License</div>
        </a>
      </li>
      <li class="menu-item {% if pageTitle == 'License Lists' %}active{% endif %}">
        <a href={% url 'LicenseLists' %} class="menu-link">
          <div data-i18n="Analytics">License Lists</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-home-circle"></i>
      <div data-i18n="Dashboards">Users</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="dashboards-analytics.html" class="menu-link">
          <div data-i18n="Analytics">Create</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="dashboards-crm.html" class="menu-link">
          <div data-i18n="CRM">Users List</div>
        </a>
      </li>
    </ul>
  </li>
</ul>
</aside>
