{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo mt-3 mb-5">
    <a href="{% url 'Dashboard' %}" class="app-brand-link">
      <img src="{% static "brand/logo.png" %}"
           alt="Logo"
           width="100%"
           heigh="auto"/>
    </a>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item {% if pageTitle == 'Dashboard' %}active{% endif %}">
      <a href="{% url 'Dashboard' %} " class="menu-link">
        <i class="menu-icon tf-icons bx bx-envelope"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>
    {% comment %} customers {% endcomment %}
    <li class="menu-item {% if pageTitle == 'Register' or pageTitle == 'Activate' or pageTitle == 'List' or pageTitle == 'Profile' %} active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon bx bx-user"></i>
        <div data-i18n="Customers">Customer</div>
      </a>
      <ul class="menu-sub ">
        {% if perms.Customers.add_customer %}
          <li class="menu-item {% if pageTitle == 'Register' %} active{% endif %}">
            <a href="{% url 'register_customer' %}" class="menu-link">
              <div data-i18n="Register">Register</div>
            </a>
          </li>
        {% endif %}
        <li class="menu-item {% if pageTitle == 'List' or pageTitle == 'Profile' %} active{% endif %}">
          <a href="{% url 'customer_list' %}" class="menu-link">
            <div data-i18n="Customer">Customer List</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- company -->
    <li class="menu-item {% if pageTitle == 'Register Company' or pageTitle == 'view_Company' or pageTitle == 'detail company' or pageTitle == 'block company' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-building"></i>
        <div data-i18n="Dashboards">Company</div>
      </a>
      <ul class="menu-sub ">
        <li class="menu-item {% if pageTitle == 'Register Company' %}active{% endif %}">
          <a href="{% url 'register_company' %}"class="menu-link">
            <div data-i18n="Analytics">Register</div>
          </a>
        </li>
        {% comment %} <li class="menu-item {% if pageTitle == 'block company' %}active{% endif %}">
          <a href="{% url 'comapny_block' %}" class="menu-link">
            <div data-i18n="Analytics">Block Company</div>
          </a>
        </li> {% endcomment %}
        <li class="menu-item {% if pageTitle == 'view_Company' %}active{% endif %}">
          <a href="{% url 'view_company' %}" class="menu-link">
            <div data-i18n="CRM">Company View</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item {% if pageTitle == 'Register vehicle' or pageTitle == 'Assign Aplate' or  pageTitle == 'Transfer Vehicle' or  pageTitle == 'View Vehicles' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-car"></i>
        <div data-i18n="Dashboards">Vehicles</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if pageTitle == 'Register vehicle' %}active{% endif %}">
          <a href="{% url 'register-vehicle' %}" class="menu-link">
            <div data-i18n="CRM">Register Vehicle</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'Assign Aplate' %}active{% endif %}">
          <a href="{% url 'asign-plate' %}" class="menu-link">
            <div data-i18n="CRM">Assign Plate</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'Transfer Vehicle' %}active{% endif %}">
          <a href="{% url 'transfer' %}" class="menu-link">
            <div data-i18n="CRM">Transfer Vehicles</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'View Vehicles' %}active{% endif %}">
          <a href="{% url 'veiw-vehicle' %}" class="menu-link">
            <div data-i18n="CRM">View Vehicles</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item {% if pageTitle == 'Accounts' or pageTitle == 'Create Account' or pageTitle == 'Receipts' or pageTitle == 'Create Receipt' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dollar-circle"></i>
        <div data-i18n="Dashboards">Payments</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if pageTitle == 'Accounts' or pageTitle == 'Create Account' %}active{% endif %}">
          <a href={% url 'AccountsPage' %} class="menu-link">
            <div data-i18n="Analytics">Accounts</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'Receipts' or pageTitle == 'Create Receipt' %}active{% endif %}">
          <a href={% url 'ReceiptsPage' %} class="menu-link">
            <div data-i18n="Analytics">Receipts</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item {% if pageTitle == 'Register License' or pageTitle == 'Renew License' or  pageTitle == 'license Lists' %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dollar-circle"></i>
        <div data-i18n="Dashboards">License</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if pageTitle == 'Register License' %}active{% endif %}">
          <a href={% url 'NewLicense' %} class="menu-link">
            <div data-i18n="Analytics">New License</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'Renew License' %}active{% endif %}">
          <a href={% url 'ReNewLicense' %} class="menu-link">
            <div data-i18n="Analytics">Re-new License</div>
          </a>
        </li>
        <li class="menu-item {% if pageTitle == 'license Lists' %}active{% endif %}">
          <a href={% url 'LicenseLists' %} class="menu-link">
            <div data-i18n="Analytics">License Lists</div>
          </a>
        </li>
      </ul>
    </li>
    {% if perms.Users.add_users or perms.Users.view_users %}
      <li class="menu-item {% if pageTitle == 'Users List' or pageTitle == 'Add New User' %}active open{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Dashboards">Users</div>
        </a>
        <ul class="menu-sub">
          {% if perms.Users.add_users %}
            <li class="menu-item {% if pageTitle == 'Add New User' %}active{% endif %}">
              <a href={% url 'Users' %} class="menu-link">
                <div data-i18n="Analytics">Create</div>
              </a>
            </li>
          {% endif %}
          {% if perms.Users.view_users %}
            <li class="menu-item {% if pageTitle == 'Users List' %}active{% endif %}">
              <a href={% url "UsersList" %} class="menu-link">
                <div data-i18n="CRM">Users List</div>
              </a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}
    {% if perms.Users.role_report or perms.auth.view_permission and perms.auth.add_permission or perms.auth.view_group or perms.Users.assign_user_to_group %}
      <li class="menu-item {% if pageTitle == 'Search Role' or pageTitle == 'Assign Role To User' or pageTitle == 'Create Groups' or pageTitle == 'Assign User To A Group Role' or pageTitle == 'Roles Report' or pageTitle == 'User Roles Report' %}active open{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Dashboards">Roles</div>
        </a>
        <ul class="menu-sub">
          {% if  perms.auth.view_permission and perms.auth.add_permission or perms.Users.manage_role_groups %}
            <li class="menu-item  {% if pageTitle == 'Search Role' %}active{% endif %}">
              <a href={% url 'SearchRole' %} class="menu-link">Search Role</a>
            </li>
          {% endif %}
          {% if  perms.auth.view_permission and perms.auth.add_permission %}
            <li class="menu-item  {% if pageTitle == 'Assign Role To User' %}active{% endif %}">
              <a href={% url 'SingleRoles' %} class="menu-link">Assign Role</a>
            </li>
          {% endif %}
          {% if perms.auth.view_group %}
            <li class="menu-item  {% if pageTitle == 'Create Groups' %}active{% endif %}">
              <a href={% url 'ManageGroup' %} class="menu-link">Create Groups</a>
            </li>
          {% endif %}
          {% if perms.Users.assign_user_to_group %}
            <li class="menu-item  {% if pageTitle == 'Assign User To A Group Role' %}active{% endif %}">
              <a href={% url 'GroupRoles' %} class="menu-link">Assign To Group</a>
            </li>
          {% endif %}
          {% if perms.Users.role_report %}
            <li class="menu-item  {% if pageTitle == 'Roles Report' %}active{% endif %}">
              <a href={% url 'RolesReport' %} class="menu-link">Role Reports</a>
            </li>
          {% endif %}
          {% if perms.Users.role_report %}
            <li class="menu-item  {% if pageTitle == 'User Roles Report' %}active{% endif %}">
              <a href={% url 'UserRolesReport' %} class="menu-link">User Roles Report</a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}
    {% if perms.Users.view_audittrials or perms.Users.view_errorlogs %}
      <li class="menu-item {% if pageTitle == 'Audit Trials' or pageTitle == 'Error Logs' %}open active{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Dashboards">
            Logs
          </div>
        </a>
        <ul class="menu-sub">
          {% if perms.Users.view_audittrials %}
            <li class="menu-item {% if pageTitle == 'Audit Trials' %}active{% endif %}">
              <a href={% url 'AuditTrials' %} class="menu-link"> Audit Trials
              </a>
            </li>
          {% endif %}
          {% if perms.Users.view_errorlogs %}
            <li class="menu-item {% if pageTitle == 'Error Logs' %}active{% endif %}">
              <a href={% url 'ErrorLogs' %} class="menu-link"> Error Logs </a>
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}
  </ul>
</aside>
