{% load static %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo mt-3 mb-5">
    <a href="index.html" class="app-brand-link">
     <img src={% static "brand/logo.png" %} alt="Logo" width="100%">
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item">
      <a href="app-email.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-envelope"></i>
        <div data-i18n="Email">Dashboard</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboards">Customers</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="dashboards-analytics.html" class="menu-link">
            <div data-i18n="Analytics">Actiavte</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="dashboards-crm.html" class="menu-link">
            <div data-i18n="CRM">View Customer</div>
          </a>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-home-circle"></i>
              <div data-i18n="Dashboards">Company</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="{% url 'register' %}" class="menu-link">
                  <div data-i18n="Analytics">Register</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="dashboards-crm.html" class="menu-link">
                  <div data-i18n="CRM">Block company</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="dashboards-crm.html" class="menu-link">
                  <div data-i18n="CRM">view company</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="dashboards-crm.html" class="menu-link">
                  <div data-i18n="CRM">company details</div>
                </a>
              </li>
            </ul>
          </li>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboards">Vehicles</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="dashboards-analytics.html" class="menu-link">
            <div data-i18n="Analytics">Register</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="dashboards-crm.html" class="menu-link">
            <div data-i18n="CRM">View Company</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboards">Payments</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="dashboards-analytics.html" class="menu-link">
            <div data-i18n="Analytics">Accounts</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="dashboards-crm.html" class="menu-link">
            <div data-i18n="CRM">Account List</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboards">Users</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="dashboards-analytics.html" class="menu-link">
            <div data-i18n="Analytics">Create</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="dashboards-crm.html" class="menu-link">
            <div data-i18n="CRM">Users List</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
