{% extends "Base/index.html" %}
{% load static %}
{% block cssData %}
    <link rel="stylesheet"
          href="{% static "assets/css/customer/register-customer.css" %}"/>
{% endblock cssData %}
{% block content %}
    {% csrf_token %}
    <div class="container-xxl  px-4">
        <div>
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Home / Customer /</span> {{ pageTitle }}
            </h4>
        </div>
        {% comment %} Personal Info {% endcomment %}
        <div class="row gap-3 px-3">
            <div class="col-sm-12 col-md bg-white rounded p-3">
                <div class="mb-4">
                    <h5 class="card-header">Customer Info</h5>
                    <p class="card-subheading">Select a Customer to Activate</p>
                    <div class="card-body row">
                        <div class="col-12 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Customer Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Magaca Qofka"
                                   aria-describedby="defaultFormControlHelp"/>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Mother’s name</label>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Magaca Qofka"
                                   aria-describedby="defaultFormControlHelp"
                                   disabled/>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Personnel ID</label>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Magaca Qofka"
                                   aria-describedby="defaultFormControlHelp"
                                   disabled/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md bg-white rounded">
                <div class="mb-4">
                    <h5 class="card-header">Upload Documents</h5>
                    <p class="card-subheading">Upload all necessary documents to activate</p>
                    <div class="card-body row">
                        <div class="col mb-3">
                            <div>
                                <label for="doc" class="uppload-btn btn btn-primary">
                                    <i class="bx bx-upload"></i>
                                    Click to Upload
                                </label>
                                <input type="file" id="doc" hidden/>
                            </div>
                            <div class="mt-4">
                                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                            </div>
                            <div class="mt-4 d-flex align-items-end justify-content-end">
                                <button class="btn btn-primary">Activate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src="{% static "scripts/customer/uppload.js" %}"></script>
{% endblock scriptData %}
