{% extends 'Base/print_base.html' %}
{% load static %}
{% block cssStyle %}
    <style>
body{
-webkit-print-color-adjust: exact;
font-size:10px;
display:flex;
justify-content: start;
align-items: center;
flex-direction: column;
box-sizing: border-box;
min-width: 100%;
}
.card_holder{
    width: 3.5433in;
    height: 2.1654in;
    position: relative;

}

.cphoto {
    width: 0.8041in;
    height: 0.97in;

    object-fit: cover;

    position: absolute;
    top: 43%;
    left: 6%;
}

.fontinfo {
    color: black;
    font-weight: 500;

    font-size: 5.7726px;
    text-transform: uppercase;

}

.lno{
    position: absolute;
    top: 35.5%;
    left: 12%;
}

.lname {
    position: absolute;
    top: 35.5%;
    left: 37%;
}

.ldob {
    position: absolute;
    top: 46.5%;
    left: 37%;
}

.lnat {
    position: absolute;
    top: 56.5%;
    left: 37%; 
}

.lissue{
    position: absolute;
    top: 66.5%;
    left: 37%; 
}

.lexp {
    position: absolute;
    top: 66.5%;
    left: 70%; 
}

.ltyp {
    position: absolute;
    top: 77%;
    left: 70%;   
}

.lsig {
    position: absolute;
    top: 77%;
    left: 37%; 
}

.bgimg {
     width: 1.3041in;
    height: 1.47in;
    
    object-fit: cover;
    object-position: center;

    position: absolute;
    top: 55%;
    right: 5%;

    opacity: 50%;
    z-index: 1;
}

.lbackholder {
    width: 3.5433in;
    height: 2.1654in;
    position: relative;
}

.qrimg {
    position: absolute;
    right: 5%;
    top:27.5%;
    width: 88px;
    height: auto;
}
    </style>
{% endblock cssStyle %}
{% block printData %}
    <div class="w-100 d-flex align-items-center justify-content-center flex-column">
        <div class="card_holder">
            <img src="{% static "assets/img/lifront.png" %}"
                 width="100%"
                 height="auto"
                 alt="Logo"/>
            <img src="{{ license.owner.photo.url }}"
                 alt="customerPhoto"
                 class="cphoto">
            <P class="lno fontinfo">{{ license.reg_no }}</P>
            <P class="lname fontinfo">{{ license.owner.full_name }}</P>
            <P class="ldob fontinfo">{{ license.owner.place_of_birth }} /  {{ license.owner.date_of_birth }}</P>
            <P class="lnat fontinfo">{{ license.owner.nationality.country_name }}</P>
            <P class="lissue fontinfo">{{ license.modified_at|date:"d.m.Y" }}</P>
            <P class="lexp fontinfo">{{ license.expired_date|date:"d.m.Y" }}</P>
            <P class="ltyp fontinfo">{{ license.type.type }}</P>
            <P class="lsig fontinfo">{{ license.owner.firstname }} - {{ license.owner.fourth_name }}</P>
            {% comment %} <img src="data:image/png;base64,{{ image_str }}" alt="My Image" class="bgimg"> {% endcomment %}
        </div>
        <div class="lbackholder mt-5">
            <img src="{% static "assets/img/liback.png" %}"
                 width="100%"
                 height="auto"
                 alt="Logo"/>
            <img src="data:image/png;base64,{{ qr_image }}" alt=""  class="qrimg">
        </div>
    </div>
{% endblock printData %}
{% block scriptsJS %}
    <script>
   window.print();
    window.onafterprint = function () {
        window.location.replace("/customer/list");
    } 
    </script>
{% endblock scriptsJS %}
