{% extends "Base/index.html" %}
{% load static %}
{% block cssData %}
    <link rel="stylesheet"
          href="{% static "assets/css/customer/profile.css" %}"/>
{% endblock cssData %}
{% block content %}
    {% include "./editModal.html" %}
    <div class="container-xxl flex-grow-1 mb-4">
        <div class="d-flex">
            <h4 class="fw-bold col-2 py-3 mb-4 w-100">
                <span class="text-muted fw-light">Home / Customer /</span> {{ pageTitle }}
            </h4>
        </div>
        <div class="container row gap-3">
            <div class="col-sm-12 col-lg h-50 bg-white rounded p-4 d-flex  justify-content-center me-3">
                <div class="d-flex flex-column align-items-center justify-content-center ">
                    <img class="customer-img mb-5"
                         src="{% if customer.photo %} {{ customer.photo.url }} {% else %} {% static "assets/img/customers/placeholder.png" %} {% endif %}"
                         alt="customer"
                         width="160"
                         height="160"/>
                    <h4 class="fs-5 text-center">{{ customer.full_name }}</h4>
                    <p class="text-muted mb-3 d-flex align-items-center gap-1">
                        ID: {{ customer.personal_id }}
                        {% if customer.show_verify.verified_status == 'Verified' %}
                            <span>
                                <img src="{% static "assets/img/verified.png" %}"
                                     alt="verfied"
                                     width="28"
                                     height="auto">
                            </span>
                        {% endif %}
                    </p>
                    <button class="btn btn-primary btn-large w-100 edit"
                            data-customer="{{ customer.customer_id }}">
                        <i class="bx bxs-edit-alt me-3"></i>
                        Edit
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-lg-9  bg-white rounded pt-4">
                <div class="nav-align-top mb-4">
                    <ul class="nav nav-pills mb-3 px-3" role="tablist">
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link active"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-basic-info"
                                    aria-controls="navs-pills-basic-info"
                                    aria-selected="true">
                                Basic Info
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-vehicles"
                                    aria-controls="navs-pills-vehicles"
                                    aria-selected="false">
                                Vehicles
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-licenses"
                                    aria-controls="navs-pills-licenses"
                                    aria-selected="false">
                                Licenses
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-transfare"
                                    aria-controls="navs-pills-transfare"
                                    aria-selected="false">
                                Transfer
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-payement"
                                    aria-controls="navs-pills-payement"
                                    aria-selected="false">
                                Payment
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-pills-companies"
                                    aria-controls="navs-pills-companies"
                                    aria-selected="false">
                                Companies
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active"
                             id="navs-pills-basic-info"
                             role="tabpanel">
                            <div >
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Full Name</p>
                                    <p class="text-uppercase col">{{ customer.full_name }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Mother’s Name</p>
                                    <p class="text-uppercase col">{{ customer.mother_name }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Personal ID</p>
                                    <p class="text-uppercase col">{{ customer.personal_id }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Gender</p>
                                    <p class="text-uppercase col">{{ customer.gender }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Blood group</p>
                                    <p class="text-uppercase col">{{ customer.blood_group }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Nationality</p>
                                    <p class="text-uppercase col">{{ customer.nationality }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Email</p>
                                    <p class="col">{{ customer.email }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Phone</p>
                                    <p class="text-uppercase col">{{ customer.phone }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">Date of Birth</p>
                                    <p class="text-uppercase col">{{ customer.date_of_birth }}</p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">
                                        State
                                    </p>
                                    <p class="text-uppercase col">
                                        {{ customer.federal_state }}
                                    </p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">
                                        Address
                                    </p>
                                    <p class="text-uppercase col">
                                        {{ customer.address }}
                                    </p>
                                </div>
                                <div class="row mb-2">
                                    <p class="fw-bold col-2">
                                        Status
                                    </p>
                                    <p class="text-uppercase col">
                                        {{ customer.show_verify.verified_status }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navs-pills-vehicles" role="tabpanel">
                            <div class="table-responsive">
                                {% if vehicles %}
                                    <div class="row px-4 py-4">
                                        <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="wd-15p border-bottom-0">
                                                        Model Brand - Year
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        VIN
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Registered Data
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Plate
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for vehicle in vehicles %}
                                                    <tr>
                                                        <td>
                                                            {{ vehicle.vehicle_model }} - {{ vehicle.year }}
                                                        </td>
                                                        <td>
                                                            {{ vehicle.vin }}
                                                        </td>
                                                        <td>
                                                            {{ vehicle.created_at }}
                                                        </td>
                                                        <td>
                                                            {% if vehicle.plate %}
                                                                {{ vehicle.plate }}
                                                            {% else %}
                                                                No Plate Assigned
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-5">
                                            No Vehicle Regestered
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navs-pills-licenses" role="tabpanel">
                            {% if licenses %}
                                <div >
                                    <div class="row mb-2">
                                        <p class="fw-bold col-2">
                                            License no
                                        </p>
                                        <p class="text-uppercase col">
                                            {{ license.reg_no }}
                                        </p>
                                    </div>
                                    <div class="row mb-2">
                                        <p class="fw-bold col-2">
                                            Place of issue
                                        </p>
                                        <p class="text-uppercase col">
                                            {{ license.place_of_issue }}
                                        </p>
                                    </div>
                                    <div class="row mb-2">
                                        <p class="fw-bold col-2">
                                            Expire Date
                                        </p>
                                        <p class="text-uppercase col">
                                            {{ license.expired_date }}
                                        </p>
                                    </div>
                                    <div class="row mb-2">
                                        <p class="fw-bold col-2">
                                            License Type
                                        </p>
                                        <p class="text-uppercase col">
                                            {{ license.type.type }}
                                        </p>
                                    </div>
                                    <div class="row mb-2">
                                        <p class="fw-bold col-2">
                                            State
                                        </p>
                                        <p class="text-uppercase col">
                                            {{ license.federal_state.state_name }}
                                        </p>
                                    </div>
                                    <div class="row mb-2">
                                        <p class="fw-bold col-2">
                                            Status
                                        </p>
                                        <p class="text-uppercase col">
                                            {{ license.status }}
                                        </p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-5">
                                        No Licenses found
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="navs-pills-transfare" role="tabpanel">
                            {% if transfares %}
                                <div class="table-responsive">
                                    <div class="row mb-2 g-4 align-items-center">
                                        <div class="col-sm-auto ms-auto">
                                            <div class="hstack gap-2">
                                                <div class="form-group">
                                                    <select id="DataNumber"
                                                            name="DataNumber"
                                                            DataNumber="{{ DataNumber }}"
                                                            class="form-control select2 w-100">
                                                        <option value="5">
                                                            5
                                                        </option>
                                                        <option value="10">
                                                            10
                                                        </option>
                                                        <option value="30">
                                                            30
                                                        </option>
                                                        <option value="50">
                                                            50
                                                        </option>
                                                        <option value="100">
                                                            100
                                                        </option>
                                                    </select>
                                                </div>
                                                <form autocomplete="off">
                                                    <div class="input-group mr-0">
                                                        <input id="SearchQuery"
                                                               type="text"
                                                               placeholder="Search..."
                                                               value="{{ SearchQuery }}"
                                                               class="form-control"
                                                               aria-label="Recipient's"
                                                               aria-describedby="button-addon2"/>
                                                        <button class="btn btn-primary" type="button" id="button-addon2">
                                                            <i class="bx bx-search"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-4 py-4">
                                        <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="wd-15p border-bottom-0">
                                                        Model Brand
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        VIN
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        New Owner
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Old Owner
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Plate
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Date
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for transfare in transfares %}
                                                    <tr>
                                                        <td>
                                                            {{ transfare.vehicle.vehicle_model }} - {{ transfare.vehicle.year }}
                                                        </td>
                                                        <td>
                                                            {{ transfare.vehicle.vin }}
                                                        </td>
                                                        <td>
                                                            {{ transfare.new_owner.full_name }}
                                                        </td>
                                                        <td>
                                                            {{ transfare.old_owner.full_name }}
                                                        </td>
                                                        <td>
                                                            {{ transfare.vehicle.plate }}
                                                        </td>
                                                        <td>
                                                            {{ transfare.created_at }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mb-3 col-md-12 d-flex justify-content-between align-items-center">
                                        <div activePage = {{ licenselist.number }} class="col-md-6 activePage">
                                            Showing {{ licenselist.number }} to {{ licenselist.paginator.num_pages }} of {{ total }}.
                                        </div>
                                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li class="page-item first {% if not licenselist.has_previous %}disabled{% endif %}"
                                                        page="1">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            <i class="tf-icon bx bx-chevrons-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-item prev {% if not licenselist.has_previous %}disabled{% endif %}"
                                                        page="{% if licenselist.has_previous %}{{ licenselist.previous_page_number }}{% else %}No Page{% endif %}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i
                                                        ></a>
                                                    </li>
                                                    <li class="page-item next {% if not licenselist.has_next %}disabled{% endif %}"
                                                        page="{% if licenselist.has_next %}{{ licenselist.next_page_number }}{% else %}No Page{% endif %}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i
                                                        ></a>
                                                    </li>
                                                    <li class="page-item last {% if not licenselist.has_next %}disabled{% endif %}"
                                                        page="{{ licenselist.paginator.num_pages }}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i
                                                        ></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-5">
                                        No Transfer History found
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="navs-pills-payement" role="tabpanel">
                            {% if payments %}
                                <div class="table-responsive">
                                    <div class="row mb-2 g-4 align-items-center">
                                        <div class="col-sm-auto ms-auto">
                                            <div class="hstack gap-2">
                                                <div class="form-group">
                                                    <select id="DataNumber"
                                                            name="DataNumber"
                                                            DataNumber="{{ DataNumber }}"
                                                            class="form-control select2 w-100">
                                                        <option value="5">
                                                            5
                                                        </option>
                                                        <option value="10">
                                                            10
                                                        </option>
                                                        <option value="30">
                                                            30
                                                        </option>
                                                        <option value="50">
                                                            50
                                                        </option>
                                                        <option value="100">
                                                            100
                                                        </option>
                                                    </select>
                                                </div>
                                                <form autocomplete="off">
                                                    <div class="input-group mr-0">
                                                        <input id="SearchQuery"
                                                               type="text"
                                                               placeholder="Search..."
                                                               value="{{ SearchQuery }}"
                                                               class="form-control"
                                                               aria-label="Recipient's"
                                                               aria-describedby="button-addon2"/>
                                                        <button class="btn btn-primary" type="button" id="button-addon2">
                                                            <i class="bx bx-search"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-4 py-4">
                                        <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="wd-15p border-bottom-0">
                                                        Date
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Amount
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Reason
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        RV Number
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for payment in payments %}
                                                    <tr>
                                                        <td>
                                                            {{ payment.created_at }}
                                                        </td>
                                                        <td>
                                                            $ {{ payment.rv_amount }}
                                                        </td>
                                                        <td>
                                                            {{ payment.reason }}
                                                        </td>
                                                        <td>
                                                            {{ payment.rv_number }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mb-3 col-md-12 d-flex justify-content-between align-items-center">
                                        <div activePage = {{ licenselist.number }} class="col-md-6 activePage">
                                            Showing {{ licenselist.number }} to {{ licenselist.paginator.num_pages }} of {{ total }}.
                                        </div>
                                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li class="page-item first {% if not licenselist.has_previous %}disabled{% endif %}"
                                                        page="1">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            <i class="tf-icon bx bx-chevrons-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-item prev {% if not licenselist.has_previous %}disabled{% endif %}"
                                                        page="{% if licenselist.has_previous %}{{ licenselist.previous_page_number }}{% else %}No Page{% endif %}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i
                                                        ></a>
                                                    </li>
                                                    <li class="page-item next {% if not licenselist.has_next %}disabled{% endif %}"
                                                        page="{% if licenselist.has_next %}{{ licenselist.next_page_number }}{% else %}No Page{% endif %}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i
                                                        ></a>
                                                    </li>
                                                    <li class="page-item last {% if not licenselist.has_next %}disabled{% endif %}"
                                                        page="{{ licenselist.paginator.num_pages }}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i
                                                        ></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-5">
                                        No Payment History found
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="navs-pills-companies" role="tabpanel">
                            {% if companies %}
                                <div class="table-responsive">
                                    <div class="row mb-2 g-4 align-items-center">
                                        <div class="col-sm-auto ms-auto">
                                            <div class="hstack gap-2">
                                                <div class="form-group">
                                                    <select id="DataNumber"
                                                            name="DataNumber"
                                                            DataNumber="{{ DataNumber }}"
                                                            class="form-control select2 w-100">
                                                        <option value="5">
                                                            5
                                                        </option>
                                                        <option value="10">
                                                            10
                                                        </option>
                                                        <option value="30">
                                                            30
                                                        </option>
                                                        <option value="50">
                                                            50
                                                        </option>
                                                        <option value="100">
                                                            100
                                                        </option>
                                                    </select>
                                                </div>
                                                <form autocomplete="off">
                                                    <div class="input-group mr-0">
                                                        <input id="SearchQuery"
                                                               type="text"
                                                               placeholder="Search..."
                                                               value="{{ SearchQuery }}"
                                                               class="form-control"
                                                               aria-label="Recipient's"
                                                               aria-describedby="button-addon2"/>
                                                        <button class="btn btn-primary" type="button" id="button-addon2">
                                                            <i class="bx bx-search"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-4 py-4">
                                        <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="wd-15p border-bottom-0">
                                                        Name
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Website
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        State
                                                    </th>
                                                    <th class="wd-15p border-bottom-0">
                                                        Registration No
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for company in companies %}
                                                    <tr>
                                                        <td>
                                                            {{ company.company_name }}
                                                        </td>
                                                        <td>
                                                            {{ company.website }}
                                                        </td>
                                                        <td>
                                                            {{ company.federal_state.state_name }}
                                                        </td>
                                                        <td>
                                                            {{ company.reg_no }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mb-3 col-md-12 d-flex justify-content-between align-items-center">
                                        <div activePage = {{ licenselist.number }} class="col-md-6 activePage">
                                            Showing {{ licenselist.number }} to {{ licenselist.paginator.num_pages }} of {{ total }}.
                                        </div>
                                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li class="page-item first {% if not licenselist.has_previous %}disabled{% endif %}"
                                                        page="1">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            <i class="tf-icon bx bx-chevrons-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-item prev {% if not licenselist.has_previous %}disabled{% endif %}"
                                                        page="{% if licenselist.has_previous %}{{ licenselist.previous_page_number }}{% else %}No Page{% endif %}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i
                                                        ></a>
                                                    </li>
                                                    <li class="page-item next {% if not licenselist.has_next %}disabled{% endif %}"
                                                        page="{% if licenselist.has_next %}{{ licenselist.next_page_number }}{% else %}No Page{% endif %}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i
                                                        ></a>
                                                    </li>
                                                    <li class="page-item last {% if not licenselist.has_next %}disabled{% endif %}"
                                                        page="{{ licenselist.paginator.num_pages }}">
                                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i
                                                        ></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-5">
                                        No Company found
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src="{% static "scripts/customer/editModal.js" %}"></script>
{% endblock scriptData %}
