{% extends "Base/index.html" %}
{% load static %}
{% block cssData %}
    <link rel="stylesheet"
          href="{% static "assets/css/customer/register-customer.css" %}"/>
{% endblock cssData %}
{% block content %}
    {% csrf_token %}
    <div class="container-xxl flex-grow-1 mb-4">
        <div>
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Home / Customer /</span> {{ pageTitle }}
            </h4>
        </div>
        <div>
            <form >
                {% comment %} Personal Info {% endcomment %}
                <div class="card mb-4">
                    <h5 class="card-header">Personal Info</h5>
                    <p class="card-subheading">Fill all the required field to register a new customer</p>
                    <div class="card-body row">
                        <div class="col-sm-12 col-lg-3 mb-3">
                            <label for="defaultFormControlInput" class="form-label">First Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Magaca 1aad"
                                   aria-describedby="defaultFormControlHelp"/>
                        </div>
                        <div class="col-sm-12 col-lg-3 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Second Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Magaca 2aad"
                                   aria-describedby="defaultFormControlHelp"/>
                        </div>
                        <div class="col-sm-12 col-lg-3 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Third Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Magaca 3aad"
                                   aria-describedby="defaultFormControlHelp"/>
                        </div>
                        <div class="col-sm-12 col-lg-3 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Fourth Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="magaca 4aad"
                                   aria-describedby="defaultFormControlHelp"/>
                        </div>
                    </div>
                    <div class="row card-body-custom">
                        <div class="col-sm-12 col-lg-6">
                            <div class="col-sm-12 col-lg mb-3">
                                <label for="defaultFormControlInput" class="form-label">Mother's Name</label>
                                <input type="text"
                                       class="form-control"
                                       id="defaultFormControlInput"
                                       placeholder="Magaca hooyo"
                                       aria-describedby="defaultFormControlHelp"/>
                            </div>
                            <div class="my-4 d-flex flex-column">
                                <label for="defaultFormControlInput" class="form-label">Gender</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="inlineRadioOptions"
                                               id="inlineRadio1"
                                               value="Male"/>
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               name="inlineRadioOptions"
                                               id="inlineRadio2"
                                               value="option2"/>
                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg mb-3">
                            <div>
                                <label for="defaultFormControlInput" class="form-label">Date</label>
                                <div class="col">
                                    <input class="form-control"
                                           type="date"
                                           value="2021-06-18"
                                           id="html5-date-input"/>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-sm-12 col-lg-6">
                                    <div>
                                        <label for="exampleFormControlSelect1" class="form-label">Blood Group</label>
                                        <select class="form-select"
                                                id="exampleFormControlSelect1"
                                                aria-label="Default select example">
                                            <option selected>
                                                Select Bload Group
                                            </option>
                                            {% for group in bload_group %}
                                                <option value="{{ group }}">
                                                    {{ group }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div>
                                        <label for="exampleFormControlSelect1" class="form-label">Nationality</label>
                                        <select class="form-select"
                                                id="exampleFormControlSelect1"
                                                aria-label="Default select example">
                                            <option selected>
                                                Select Nationality
                                            </option>
                                            {% for nation in nationalities %}
                                                <option value="{{ nation.id }}">
                                                    {{ nation }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} Contact info {% endcomment %}
                <div class="card mb-4">
                    <h5 class="card-header">Contact Info</h5>
                    <p class="card-subheading">All contact information is required</p>
                    <div class="card-body row">
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label for="defaultFormControlInput" class="form-label">Phone</label>
                            <input type="number"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Telephone number"
                                   aria-describedby="defaultFormControlHelp"/>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label for="defaultFormControlInput" class="form-label">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="email"
                                   aria-describedby="defaultFormControlHelp"/>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label for="defaultFormControlInput" class="form-label">Address</label>
                            <input type="text"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="cinwaanka"
                                   aria-describedby="defaultFormControlHelp"/>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label for="exampleFormControlSelect1" class="form-label">State</label>
                            <select class="form-select"
                                    id="exampleFormControlSelect1"
                                    aria-label="Default select example">
                                <option selected>
                                    Select State
                                </option>
                                {% for state in states %}
                                    <option value="{{ state }}">
                                        {{ state }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% comment %} Identification Info {% endcomment %}
                <div class="card pb-4">
                    <h5 class="card-header">Identification Info</h5>
                    <p class="card-subheading">All identification info is required</p>
                    <div class="card-body row">
                        <div class="col-sm-12 col-lg-6 ">
                            <div class="mb-4">
                                <label for="defaultFormControlInput" class="form-label">Personal ID</label>
                                <input type="text"
                                       class="form-control"
                                       id="defaultFormControlInput"
                                       placeholder="ID Number"
                                       aria-describedby="defaultFormControlHelp"/>
                            </div>
                            <div class="mb-4">
                                <label for="exampleFormControlSelect1" class="form-label">ID Type</label>
                                <select class="form-select"
                                        id="exampleFormControlSelect1"
                                        aria-label="Default select example">
                                    <option selected>
                                        Select Type
                                    </option>
                                    {% for type in doc_types %}
                                        <option value="{{ type }}">
                                            {{ type }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label for="defaultFormControlInput" class="form-label">Uppload</label>
                            <div class="custom-input-file">
                                <img src="{% static "assets/img/customers/uppload.png" %}"
                                     alt="Vheicle"
                                     width="auto"
                                     height="40"/>
                                <label for="doc">Click To Upload</label>
                                <input type="file" id="doc" class="form-control custom-input-file" />
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-6 ">
                            <div class="d-flex align-items-end gap-5 justify-content-start">
                                <img src="{% static "assets/img/customers/plusupload.png" %}"
                                     alt="user-avatar"
                                     height="100"
                                     width="100"
                                     id="uploadedAvatar"/>
                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Upload new photo</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file"
                                               id="upload"
                                               class="account-file-input"
                                               hidden
                                               accept="image/png, image/jpeg"/>
                                    </label>
                                </div>
                            </div>
                            {% comment %} scan finger {% endcomment %}
                            <div class="finger-scan d-flex align-items-center">
                                <img src="{% static "assets/img/customers/scan.png" %}"
                                     alt="Vheicle"
                                     width="auto"
                                     height="40"/>
                                <p>
                                    Scan Finger Print
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} action buttons {% endcomment %}
                <div class="mt-4 d-flex align-items-end justify-content-end col">
                    <div class="hstack gap-2">
                        <a href={% url 'Dashboard' %} class="btn btn-danger">
                            Go Back
                        </a>
                        <button type="button"
                                class="btn btn-primary text-right"
                                id="add_new_customer">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src="{% static "scripts/customer/uppload.js" %}"></script>
{% endblock scriptData %}
