{% extends "Base/index.html" %}
{% load static %}
{% block cssData %}
    <link rel="stylesheet"
          href="{% static "assets/css/customer/register-customer.css" %}"/>
{% endblock cssData %}
{% block content %}
    <div class="container-xxl flex-grow-1 mb-4">
        <div>
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Home / Customer /</span> {{ pageTitle }}
            </h4>
        </div>
        <div>
            <form id="reg_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} Personal Info {% endcomment %}
                <div class="card mb-4">
                    <h5 class="card-header">Personal Info</h5>
                    <p class="card-subheading">Fill all the required field to register a new customer</p>
                    <div class="card-body row">
                        <div class="col-sm-12 col-lg-3 mb-3">
                            <label for="defaultFormControlInput" class="form-label">First Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="fname"
                                   placeholder="Magaca 1aad"
                                   aria-describedby="defaultFormControlHelp"
                                   required="required"/>
                            <p id="namerror" class="text-danger"></p>
                        </div>
                        <div class="col-sm-12 col-lg-3 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Second Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="sname"
                                   placeholder="Magaca 2aad"
                                   aria-describedby="defaultFormControlHelp"
                                   required="required"/>
                        </div>
                        <div class="col-sm-12 col-lg-3 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Third Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="thname"
                                   placeholder="Magaca 3aad"
                                   aria-describedby="defaultFormControlHelp"
                                   required="required"/>
                        </div>
                        <div class="col-sm-12 col-lg-3 mb-3">
                            <label for="defaultFormControlInput" class="form-label">Fourth Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="foname"
                                   placeholder="magaca 4aad"
                                   aria-describedby="defaultFormControlHelp"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="row card-body-custom">
                        <div class="col-sm-12 col-lg-6">
                            <div class="col-sm-12 col-lg mb-3">
                                <label for="defaultFormControlInput" class="form-label">Mother's Name</label>
                                <input type="text"
                                       class="form-control"
                                       id="mname"
                                       placeholder="Magaca hooyo"
                                       aria-describedby="defaultFormControlHelp"
                                       required="required"/>
                            </div>
                            <div class="my-4 d-flex flex-column ">
                                <label for="defaultFormControlInput" class="form-label">Gender</label>
                                <div class="gender">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" value="Male"/>
                                        <label class="form-check-label" for="gender">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" value="Female"/>
                                        <label class="form-check-label" for="gender">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg mb-3">
                            <div>
                                <label for="defaultFormControlInput" class="form-label">Date of Birth</label>
                                <div class="col">
                                    <input class="form-control" type="date" id="dob"/>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-sm-12 col-lg-6">
                                    <div>
                                        <label for="exampleFormControlSelect1" class="form-label">Blood Group</label>
                                        <select class="form-select"
                                                id="bload_group"
                                                aria-label="bload group"
                                                name="bload_group">
                                            <option selected>
                                                Select Bload Group
                                            </option>
                                            {% for group in bload_group %}
                                                <option value="{{ group.blood_group_id }}">
                                                    {{ group.blood_group_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div>
                                        <label for="nation" class="form-label">Nationality</label>
                                        <select class="form-select" id="nation" aria-label="nation">
                                            <option selected>
                                                Select a Nationality
                                            </option>
                                            {% for nation in nationalities %}
                                                <option value="{{ nation.country_id }}">
                                                    {{ nation.country_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} Contact info {% endcomment %}
                <div class="card mb-4">
                    <h5 class="card-header">Contact Info</h5>
                    <p class="card-subheading">All contact information is required</p>
                    <div class="card-body row">
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label for="defaultFormControlInput" class="form-label">Phone</label>
                            <input type="number"
                                   class="form-control"
                                   id="phone"
                                   placeholder="Telephone number"
                                   aria-describedby="phone"
                                   required="required"/>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label for="defaultFormControlInput" class="form-label">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="email"
                                   aria-describedby="defaultFormControlHelp"
                                   required="required"/>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label for="defaultFormControlInput" class="form-label">Address</label>
                            <input type="text"
                                   class="form-control"
                                   id="address"
                                   placeholder="cinwaanka"
                                   aria-describedby="defaultFormControlHelp"
                                   required="required"/>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select"
                                    id="state"
                                    aria-label="state"
                                    {% if states == 'No State Found' %} disabled{% endif %}>
                                <option selected>
                                    {% if states == 'No State Found' %}
                                        No State Found
                                    {% else %}
                                        Select State
                                    {% endif %}
                                </option>
                                {% for state in states %}
                                    <option value="{{ state.state_id }}">
                                        {{ state.state_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% comment %} Identification Info {% endcomment %}
                <div class="card pb-4">
                    <h5 class="card-header">Identification Info</h5>
                    <p class="card-subheading">All identification info is required</p>
                    <div class="card-body row">
                        <div class="col-sm-12 col-lg-6 ">
                            <div class="mb-4">
                                <label for="defaultFormControlInput" class="form-label">Personal ID</label>
                                <input type="text"
                                       class="form-control"
                                       id="perid"
                                       placeholder="ID Number"
                                       aria-describedby="defaultFormControlHelp"
                                       required="required"/>
                            </div>
                            <div class="mb-4">
                                <label for="doctype" class="form-label">ID Type</label>
                                <select class="form-select" id="doctype" aria-label="Default select example">
                                    <option selected>
                                        Select Type
                                    </option>
                                    {% for type in doc_types %}
                                        <option value="{{ type.personal_id }}">
                                            {{ type.personal_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-6 ">
                            <div class="d-flex align-items-end gap-5 justify-content-start">
                                <img src="{% static "assets/img/customers/plusupload.png" %}"
                                     alt="user-avatar"
                                     height="100"
                                     width="100"
                                     id="uploadedAvatar"/>
                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Upload new photo</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file"
                                               id="upload"
                                               class="account-file-input"
                                               hidden
                                               accept="image/png, image/jpeg"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-4">
                        <p id="errordispaly" class="text-danger">
                        </p>
                    </div>
                </div>
                {% comment %} action buttons {% endcomment %}
                <div class="mt-4 d-flex align-items-end justify-content-end col">
                    <div class="hstack gap-2">
                        <a href={% url 'Dashboard' %} class="btn btn-danger">
                            Go Back
                        </a>
                        <button type="submit"
                                class="btn btn-primary text-right"
                                id="add_new_customer">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src="{% static "scripts/customer/uppload.js" %}"></script>
    <script src="{% static "scripts/customer/register.js" %}"></script>
{% endblock scriptData %}
