.overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 10;
    background-color: rgba(0, 0, 0, 0.157);
}

.overlay-assign{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 10;
    background-color: rgba(0, 0, 0, 0.157);
}


.model-contaier {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 550px;

    margin: auto;
    z-index: 11;
}

.containerr{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 550px;

    margin: auto;
    z-index: 11;
}

.model {
    background-color: white;
    border-radius: 10px;
    
    display: flex;
    
    flex-direction: column;

    
    padding: 1rem
}

.model-content {
    width: 100%;
}

.model-assign {
    background-color: white;
    border-radius: 10px;
    
    display: flex;
    
    flex-direction: column;

    
    padding: 1rem
}

.model-content {
    width: 100%;
}
.custom-input-file_container {
    display: flex;
    align-items: center;
    
    gap: 10px;
}

.custom-input-file {
    width: 100%;
    height: 150px;

    border-radius: 5px;
    background-color: #F0F3F5;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.custom-input-file img {
    margin: 1.5rem 0;
}

.custom-input-file > label {
    font-size: 16px;
    text-align: center;
    line-height: 70%;
    width: 100% !important;
 }

 
.custom-input-file input {
   visibility: hidden;
}

.action-btn {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
textarea {
    width: 100%;
    resize: none;

    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: 10px;

    margin-top: 15px;

}

.hidden {
    display: none;
}


.finger-scan {
    width: 100%;
    background-color: #F0F3F5;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 1.5rem;
    height: 150px;

}