p {
    margin-bottom: 0rem !important;
}

.tab-content {
    background: transparent !important;
}


.customer-img {    
    overflow: hidden;
    border-radius: 50%;

    background-color: rgb(213, 213, 213);

    object-fit: cover;
    object-position: top;
}

.card_holder{
    width: 7.0866in;
    height: 4.3308in;
    position: relative;

}

.cphoto {
    width: 1.6082in;
    height: 1.94in;

    object-fit: cover;

    position: absolute;
    top: 43%;
    left: 6%;
}

.fontinfo {
    color: black;
    font-weight: 600;

    font-size: 11.5452px;
    text-transform: uppercase;

}

.lno{
    position: absolute;
    top: 35.5%;
    left: 12%;
}

.lname {
    position: absolute;
    top: 35.5%;
    left: 37%;
}

.ldob {
    position: absolute;
    top: 46.5%;
    left: 37%;
}

.lnat {
    position: absolute;
    top: 56.5%;
    left: 37%; 
}

.lissue{
    position: absolute;
    top: 66.5%;
    left: 37%; 
}

.lexp {
    position: absolute;
    top: 66.5%;
    left: 70%; 
}

.ltyp {
    position: absolute;
    top: 77%;
    left: 70%;   
}

.lsig {
    position: absolute;
    top: 77%;
    left: 37%; 
}

.bgimg {
     width: 1.3041in;
    height: 1.47in;
    
    object-fit: cover;
    object-position: center;

    position: absolute;
    top: 55%;
    right: 5%;

    opacity: 50%;
    z-index: 1;
}

.lbackholder {
    width: 7.0866in;
    height: 4.3308in;
    position: relative;
}

.qrimg {
    position: absolute;
    right: 5%;
    top:27.5%;
    width: 175px;
    height: auto;
}