{% extends 'Base/index.html' %}
{% load static %}
{% block content %}
  <!--End Page header-->
  {% include "./edit_model.html" %}
  {% include "./manage.html" %}
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">License /</span> {{ pageTitle }}
    </h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div class="row mb-2 g-4 align-items-center">
                <div class="col-sm-auto ms-auto">
                  <div class="hstack gap-2">
                    <div class="form-group">
                      <select id="Status"
                              name="Status"
                              Status="{{ Status }}"
                              class="form-control select2 w-100">
                        <option value="Active">
                          Active
                        </option>
                        <option value="Expired">
                          Expired
                        </option>
                        <option value="Lost">
                          Lost
                        </option>
                        <option value="Suspended">
                          Suspended
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select id="DataNumber"
                              name="DataNumber"
                              DataNumber="{{ DataNumber  }}"
                              class="form-control select2 w-100">
                        <option value="5">
                          5
                        </option>
                        <option value="10">
                          10
                        </option>
                        <option value="30">
                          30
                        </option>
                        <option value="50">
                          50
                        </option>
                        <option value="100">
                          100
                        </option>
                      </select>
                    </div>
                    <form autocomplete="off">
                      <div class="input-group mr-0">
                        <input id="SearchQuery"
                               type="text"
                               placeholder="Search..."
                               value="{{ SearchQuery }}"
                               class="form-control"
                               aria-label="Recipient's"
                               aria-describedby="button-addon2"/>
                        <button class="btn btn-primary" type="button" id="button-addon2">
                          <i class="bx bx-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
                  <thead>
                    <tr>
                      <th class="wd-15p border-bottom-0">License No</th>
                      <th class="wd-15p border-bottom-0">RV No</th>
                      <th class="wd-15p border-bottom-0">Ownar Name</th>
                      <th class="wd-20p border-bottom-0">Registered Date</th>
                      <th class="wd-15p border-bottom-0">Expire Date</th>
                      <th class="wd-10p border-bottom-0">State</th>
                      {% comment %} <th class="wd-10p border-bottom-0">Status</th> {% endcomment %}
                      {% if perms.Customers.change_status %}<th class="wd-10p border-bottom-0">Status</th>{% endif %}
                      <th class="wd-10p border-bottom-0">Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if licenselist %}
                      {% for item in licenselist %}
                        <tr>
                          <td>{{ item.reg_no }}</td>
                          <td>{{ item.receipt_voucher.rv_number }}</td>
                          <td>{{ item.owner.full_name }}</td>
                          <td>{{ item.created_at }}</td>
                          <td>{{ item.expired_date }}</td>
                          <td>{{ item.federal_state.state_name }}</td>
                          {% comment %} <td>
                            <span class="badge bg-{% if item.status == 'Active' %}success{% elif item.status == 'suspended' %}warning{% else %}danger{% endif %}">{{ item.status }}</span
                              >
                          </td> {% endcomment %}
                          {% comment %} {% if perms.Customers.change_license %} {% endcomment %}
                          {% if perms.Customers.change_status %}
                            <td>
                              {% if item.status == 'Active' %}
                                <button type="button"
                                        class="btn btn-success text-white"
                                        id="manage_btn"
                                        data-liscences="{{ item.license_id }}">
                                  Active
                                </button>
                              {% elif item.status == 'Lost' %}
                                <button type="button"
                                        class="btn btn-warning text-white"
                                        id="manage_btn"
                                        data-liscences="{{ item.license_id }}">
                                  Lost
                                </button>
                              {% elif item.status == 'Suspended' %}
                                <button type="button"
                                        class="btn btn-warning text-white"
                                        id="manage_btn"
                                        data-liscences="{{ item.license_id }}">
                                  Suspended
                                {% else %}
                                  <button type="button"
                                          class="btn btn-danger text-white"
                                          id="manage_btn"
                                          data-liscences="{{ item.license_id }}">
                                    Expired
                                  </button>
                                {% endif %}
                              </td>
                            {% endif %}
                            <td>
                              <button type="button"
                                      class="btn btn-primary text-white"
                                      id="edit_liscence"
                                      data-liscence="{{ item.license_id }}">
                                <i class="bx bxs-edit-alt "></i>
                              </button>
                            </td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td class="text-center" colspan="9">No license available</td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <div class="mt-3 col-md-12 d-flex justify-content-between align-items-center">
                  <div activePage = {{ licenselist.number }} class="col-md-6 activePage">
                    Showing {{ licenselist.number }} to {{ licenselist.paginator.num_pages }} of {{ total }}.
                  </div>
                  <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <nav aria-label="Page navigation">
                      <ul class="pagination">
                        <li class="page-item first {% if not licenselist.has_previous %}disabled{% endif %}"
                            page="1">
                          <a class="page-link" href="javascript:void(0);">
                            <i class="tf-icon bx bx-chevrons-left"></i>
                          </a>
                        </li>
                        <li class="page-item prev {% if not licenselist.has_previous %}disabled{% endif %}"
                            page="{% if licenselist.has_previous %}{{ licenselist.previous_page_number }}{% else %}No Page{% endif %}">
                          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i
                          ></a>
                        </li>
                        <li class="page-item next {% if not licenselist.has_next %}disabled{% endif %}"
                            page="{% if licenselist.has_next %}{{ licenselist.next_page_number }}{% else %}No Page{% endif %}">
                          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i
                          ></a>
                        </li>
                        <li class="page-item last {% if not licenselist.has_next %}disabled{% endif %}"
                            page="{{ licenselist.paginator.num_pages }}">
                          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i
                          ></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}
  {% block scriptData %}
    <script src={% static "scripts/license/edit_liscence.js" %}></script>
    <script src={% static "scripts/license/manage_liscence.js" %}></script>
    <script>
  $("#DataNumber").val($("#DataNumber").attr("DataNumber"));
  $("#Status").val($("#Status").attr("Status"));

  $("#DataNumber").change(function () {
    RefreshPage();
  });
  $("#Status").change(function () {
    RefreshPage();
  });

  $("#SearchQuery").on("change", function () {
    RefreshPage();
  });

  $("#SearchQueryBTN").on("click", function () {
    RefreshPage();
  });

  $(".pagination .page-item").on("click", function () {
    const pageNumber = $(this).attr("page");
    $(".activePage").attr("activePage", pageNumber);
    RefreshPage();
  });

  function RefreshPage() {
    let page = $(".activePage").attr("activePage");
    let search = $("#SearchQuery").val();
    let entries = $("#DataNumber").val();
    let Status = $("#Status").val();

    let url = "";

    if (search != "") {
      url = `/customer/license_lists?DataNumber=${entries}&Status=${Status}&SearchQuery=${search}&page=${page}`;
    } else {
      url = `/customer/license_lists?DataNumber=${entries}&Status=${Status}&page=${page}`;
    }

    window.location.replace(url);
  }
    </script>
  {% endblock scriptData %}
