{% load static %}
{% block cssData %}
    <link rel="stylesheet" href="{% static "assets/css/dahsboard.css" %}"/>
    <link rel="stylesheet" href={% static 'assets/css/jquery-ui/ui.css' %}>
    <link rel="stylesheet" href="{% static "assets/css/customer/modal.css" %}"/>
    <style>.ui-autocomplete { z-index:2147483647; }</style>
{% endblock cssData %}
{% block content %}
<div class="overlay-assign hidden"></div>
    <div class="containerr hidden">
        <div class="model-assign">
            <div class="model-content">
                <div>
                    <h4>Status Liscence</h4>
                    <hr/>
                </div>
            </div>
        <form id="manage">
            <div class="nav nav-pills mb-3 px-3">
                <div class="d-flex align-items-center justify-content-start " id="status">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" value="Active" />
                        <label class="form-check-label" for="gender">Active</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" value="Expired"/>
                        <label class="form-check-label" for="gender">Expired</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" value="Lost"/>
                        <label class="form-check-label" for="gender">Lost</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" value="Suspended"/>
                        <label class="form-check-label" for="gender">Suspended</label>
                    </div>
                </div>
            </div>
            <div class="action-btn">
                <button type="button" class="btn btn-outline-danger me-4 Close-btn">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
   </div>     
              
            
{% endblock content %}
{% block scriptData %}
<script src={% static "scripts/license/manage_liscence.js" %}></script>
{% endblock scriptData %}                     