{% extends "Base/index.html" %}
{% load static %}
{% block cssData %}
    <link rel="stylesheet" href="{% static "assets/css/company/profile.css" %}"/>
{% endblock cssData %}
{% block content %}
    {% csrf_token %}
    {% include './modaledit.html' %}
    <div class="container-xxl flex-grow-1 mb-4">
        <div class="d-flex">
            <h4 class="fw-bold col-2 py-3 mb-4 w-100">
                <span class="text-muted fw-light">Home / Company/</span> {{ pageTitle }}
            </h4>
        </div>
        {% comment %} company profile {% endcomment %}
        <div class=" profile">
            <div class="profile__header">
                <div class="profile__img">
                    <img class="customer-img mb-5"
                         src="{% if company.owner.photo %} {{ company.owner.photo.url }} {% else %} {% static "assets/img/customers/placeholder.png" %} {% endif %}"
                         alt="customer"/>
                </div>
            </div>
            {% comment %} info {% endcomment %}
            <div class="row">
                <div class="col-lg-3 col-sm-12 bg-white rounded p-2">
                    <div class="ps-2 mb-2">
                        <p class="fw-semibold">Name:</p>
                        <span>{{ company.owner.full_name }}</span>
                    </div>
                    <div class="ps-2 mb-2">
                        <p class="fw-semibold">PersoanlID:</p>
                        <span>{{ company.owner.personal_id }}</span>
                    </div>
                    <div class="ps-2 mb-2">
                        <p class="fw-semibold">Gender:</p>
                        <span>{{ company.owner.gender }}</span>
                    </div>
                    <div class="ps-2 mb-2">
                        <p class="fw-semibold">Mother's Name:</p>
                        <span>{{ company.owner.mother_name }}</span>
                    </div>
                    <div class="ps-2 mb-2">
                        <p class="fw-semibold">Phone:</p>
                        <span>{{ company.owner.phone }}</span>
                    </div>
                    <div class="ps-2 mb-2">
                        <p class="fw-semibold">Email:</p>
                        <span>{{ company.owner.email }}</span>
                    </div>
                    <div class="ps-2 mb-2">
                        <p class="fw-semibold">Status:</p>
                        <span>{{ company.owner.show_verify.verified_status }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src="{% static "scripts/company/modal.js" %}"></script>
    <script src="{% static "scripts/company/editModal.js" %}"></script>
    <script src="{% static "scripts/company/cview.js" %}"></script>
{% endblock scriptData %}
