{% extends 'Base/index.html' %}
{% load static %}
{% block content %}
  
<div class="container-xxl flex-grow-1">
    <div class="container">
      <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Home /</span> {{ pageTitle }}
      </h4>
    </div>
    <section style="background-color: #eee;">
      <div class="container py-5">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Company</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">View</li>
              </ol>
            </nav>
          </div>
        </div>
        {% comment %} <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://th.bing.com/th/id/OIP.elzAzVV8qRRIzIxwrd3FVgHaHa?pid=ImgDet&rs=1"
                     alt="avatar"
                     class="rounded-circle img-fluid"
                     style="width: 150px">
                <h5 class="my-3">Mohamoud Ali</h5>
                <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                <div class="d-flex justify-content-center mb-2">
                  <button type="button" class="btn btn-outline-primary ms-1">Edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">Mohamoud Ali</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Webiste</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">https://sissim.so</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Registration No</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">87856758</p>
                  </div>
                </div>
                <hr>
               
                </div>

              </div>

              
            </div>
          </div>
        </div>
      </div>

      
    </section> {% endcomment %}


    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
          <div class="col-md-3 border-right">
              <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
          </div>
          <div class="col-md-5 border-right">
              <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">  
                      <h4 class="text-right">Profile</h4>
                  </div>
                 
                  <div class="row mt-3">
                      <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                      <div class="col-md-12"><label class="labels">Website</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                      <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                      <div class="col-md-12"><label class="labels">Registration No</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                      
                  </div>
                 
                  <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
              </div>
              <br>
           
          </div>
          <div class="col-md-4">
              <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center experience"><span>Edit Profile</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Edit</span></div><br>
                 
              </div>
          </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Mohamoud Ali</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Webiste</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">https://sissim.so</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Registration No</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">87856758</p>
              </div>
            </div>
            <hr>
           
            </div>

          </div>

          
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
  {% endblock %}

