{% extends 'base/index.html'%} {% load static %} {% block content %}

<!-- card 1 -->

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h1>Basic Info</h1>

      <form method="POST">
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="">Company Name</label>
            <input
              class="form-control"
              type="text"
              name="company"
              placeholder="al taqwa"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="">Company Name</label>
            <input
              class="form-control"
              type="text"
              name="company"
              placeholder="al taqwa"
            />
          </div>
        </div>
      </form>


<div class="container">
  <div class="card">
    <div class="card-body">
      <h1>Contac Info</h1>
      <form method="POST">
        <div class="form-gropu col-md-5">
          <label for="">Phone</label>
          <input class ="form-control"type="text" name="Phone" placeholder="451571455877"/>
        </div>
      </form>
    </div>
  </div>




</div>
      {% endblock %}
    </div>
  </div>
</div>
