{% extends "Base/index.html" %}
{% load static %}
{% block cssData %}
{% endblock cssData %}
{% block content %}
    {% include "./modal_block.html" %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Home / Company /</span> {{ pageTitle }}
        </h4>
        <div class="row">
            <a href="{% url 'register_company' %}">
                <button type="button" class="btn btn-primary btn-lg mb-3">Add New</button>
            </a>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row mb-2 g-4 align-items-center">
                                <div class="col-sm-auto ms-auto">
                                    <div class="hstack gap-2">
                                        <div class="form-group">
                                            <select id="DataNumber"
                                                    name="DataNumber"
                                                    DataNumber="{{ DataNumber }}"
                                                    class="form-control select2 w-100">
                                                <option value="5">
                                                    5
                                                </option>
                                                <option value="10">
                                                    10
                                                </option>
                                                <option value="30">
                                                    30
                                                </option>
                                                <option value="50">
                                                    50
                                                </option>
                                                <option value="100">
                                                    100
                                                </option>
                                            </select>
                                        </div>
                                        <form autocomplete="off">
                                            <div class="input-group mr-0">
                                                <input id="SearchQuery"
                                                       type="text"
                                                       placeholder="Search..."
                                                       value="{{ SearchQuery }}"
                                                       class="form-control"
                                                       aria-label="Recipient's"
                                                       aria-describedby="button-addon2"/>
                                                <button class="btn btn-primary" type="button" id="button-addon2">
                                                    <i class="bx bx-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-4 py-4">
                                <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="wd-15p border-bottom-0">Name</th>
                                            <th class="wd-15p border-bottom-0">Owner</th>
                                            <th class="wd-15p border-bottom-0">Registration No</th>
                                            <th class="wd-15p border-bottom-0">Phone</th>
                                            <th class="wd-15p border-bottom-0">Status</th>
                                            <th class="wd-15p border-bottom-0">Action</th>
                                            <th class="wd-15p border-bottom-0">Block Company</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Al Taqwa</td>
                                            <td>Mohamoud Ali</td>
                                            <td>35746-5316768</td>
                                            <td>06154796874</td>
                                            <td>
                                                <span class="badge bg-danger text-white p-2">Blocked</span>
                                            </td>
                                            <td>
                                                <a href="{% url 'company_profile' 1 %}">
                                                    <button class="btn btn-outline-primary">View</button>
                                                </a>
                                            </td>
                                            <td/>
                                            <button class="btn btn-outline-primary" id="blockbtn">Block</button>
                                        </td
                                    </tr>
                                    <tr>
                                        <td>Al Taqwa</td>
                                        <td>Mohamoud Ali</td>
                                        <td>35746-5316768</td>
                                        <td>06154796874</td>
                                        <td>
                                            <span class="badge bg-success text-white p-2">Un-Blocked</span>
                                        </td>
                                        <td>
                                            <a href="{% url 'company_profile' 1 %}">
                                                <button class="btn btn-outline-primary">View</button>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Al Taqwa</td>
                                        <td>Mohamoud Ali</td>
                                        <td>35746-5316768</td>
                                        <td>06154796874</td>
                                        <td>
                                            <span class="badge bg-danger text-white p-2">Blocked</span>
                                        </td>
                                        <td>
                                            <a href="{% url 'company_profile' 1 %}">
                                                <button class="btn btn-outline-primary">
                                                    View
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Al Taqwa
                                        </td>
                                        <td>
                                            Mohamoud Ali
                                        </td>
                                        <td>
                                            35746-5316768
                                        </td>
                                        <td>
                                            06154796874
                                        </td>
                                        <td>
                                            <span class="badge bg-success text-white p-2">Un-Blocked</span>
                                        </td>
                                        <td>
                                            <a href="{% url 'company_profile' 1 %}">
                                                <button class="btn btn-outline-primary">
                                                    View
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3 col-md-12 d-flex justify-content-between align-items-center/">
                            <div activePage = {{ licenselist.number }} class="col-md-6 activePage">
                                Showing {{ licenselist.number }} to {{ licenselist.paginator.num_pages }} of {{ total }}.
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item first {% if not licenselist.has_previous %}disabled{% endif %}"
                                            page="1">
                                            <a class="page-link" href="javascript:void(0);">
                                                <i class="tf-icon bx bx-chevrons-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item prev {% if not licenselist.has_previous %}disabled{% endif %}"
                                            page="{% if licenselist.has_previous %}{{ licenselist.previous_page_number }}{% else %}No Page{% endif %}">
                                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i
                                            ></a>
                                        </li>
                                        <li class="page-item next {% if not licenselist.has_next %}disabled{% endif %}"
                                            page="{% if licenselist.has_next %}{{ licenselist.next_page_number }}{% else %}No Page{% endif %}">
                                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i
                                            ></a>
                                        </li>
                                        <li class="page-item last {% if not licenselist.has_next %}disabled{% endif %}"
                                            page="{{ licenselist.paginator.num_pages }}">
                                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i
                                            ></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src="{% static "scripts/company/modal.js" %}"></script>
{% endblock scriptData %}
