{% extends "Base/index.html" %}
{% load static %}
{% block cssData %}
  <link rel="stylesheet" href="{% static "assets/css/dahsboard.css" %}"/>
{% endblock cssData %}
{% block content %}
  <div class="container-xxl flex-grow-1 px-4">
    <div>
      <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Home /</span> {{ pageTitle }}
      </h4>
    </div>
    {% comment %} summary container {% endcomment %}
    <div class="">
      <div class="row gap-3">
        <div class="col  rounded summary-card px-3 py-3">
          <div class="summary-cart_img">
            <img src="{% static "assets/img/dashboard/vehicle.png" %}"
                 alt="Vheicle"
                 width="auto"
                 height="40"/>
          </div>
          <div class="summary-card-info">
            <h3 class="mb-0">345</h3>
            <p class="mb-0">Vehicles</p>
          </div>
        </div>
        <div class="col bg-white rounded summary-card px-3 py-3">
          <div class="summary-cart_img">
            <img src="{% static "assets/img/dashboard/license.png" %}"
                 alt="Vheicle"
                 width="auto"
                 height="40"/>
          </div>
          <div class="summary-card-info">
            <h3 class="mb-0">1,234</h3>
            <p class="mb-0">Licenses</p>
          </div>
        </div>
        <div class="col bg-white rounded summary-card px-3 py-3">
          <div class="summary-cart_img">
            <img src="{% static "assets/img/dashboard/customers.png" %}"
                 alt="Vheicle"
                 width="auto"
                 height="40"/>
          </div>
          <div class="summary-card-info">
            <h3 class="mb-0">1024</h3>
            <p class="mb-0">Customers</p>
          </div>
        </div>
        <div class="col bg-white rounded summary-card px-3 py-3">
          <div class="summary-cart_img">
            <img src="{% static "assets/img/dashboard/companies.png" %}"
                 alt="Vheicle"
                 width="auto"
                 height="40"/>
          </div>
          <div class="summary-card-info">
            <h3 class="mb-0">1324</h3>
            <p class="mb-0">Companies</p>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Dahsboard charts {% endcomment %}
    <div class="mt-4">
      <div class="row gap-3">
        <div class="col-lg-8 bg-white rounded p-3">
          <h6>Vehicles & Customers</h6>
          {% comment %} charts {% endcomment %}
          <div id="totalRevenueChart" class="px-2"></div>
        </div>
        <div class="col bg-white rounded">
          <div class="container my-3">
            <h6>Types of Licenses</h6>
            <div class="license-card-holder">
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/A.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="30"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>A</span> - Total
                  </p>
                  <p class="p-0 m-0">320</p>
                </div>
              </div>
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/A1.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="30"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>A1</span> - Total
                  </p>
                  <p class="p-0 m-0">320</p>
                </div>
              </div>
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/B.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="35"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>B</span> - Total
                  </p>
                  <p class="p-0 m-0">320</p>
                </div>
              </div>
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/C.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="30"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>C</span> - Total
                  </p>
                  <p class="p-0 m-0">320</p>
                </div>
              </div>
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/C1.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="25"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>C1</span> - Total
                  </p>
                  <p class="p-0 m-0">320</p>
                </div>
              </div>
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/D.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="30"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>D</span> - Total
                  </p>
                  <p class="p-0 m-0">320</p>
                </div>
              </div>
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/E.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="35"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>E</span> - Total
                  </p>
                  <p class="p-0 m-0">320</p>
                </div>
              </div>
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/F.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="30"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>F</span> - Total
                  </p>
                  <p class="p-0 m-0">
                    320
                  </p>
                </div>
              </div>
              <div class="px-3 license-card">
                <img src="{% static "assets/img/dashboard/G.png" %}"
                     alt="Vheicle"
                     width="auto"
                     height="30"/>
                <div>
                  <p class="p-0 m-0 license-card__title">
                    <span>G</span> - Total
                  </p>
                  <p class="p-0 m-0">
                    320
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Lates Activity {% endcomment %}
    <div class="mt-4">
      <div class="row bg-white rounded p-3">
        <h6>
          Lates Activity
        </h6>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr class="text-nowrap">
                <th>
                  #
                </th>
                <th>
                  Date
                </th>
                <th>
                  Customer Name
                </th>
                <th>
                  License Number
                </th>
                <th>
                  License Table
                </th>
                <th>
                  Expire Date
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  1
                </th>
                <td>
                  Elon Musk
                </td>
                <td>
                  BNA-4512
                </td>
                <td>
                  4578787845787
                </td>
                <td>
                  A
                </td>
                <td>
                  Jun 8,2024
                </td>
                <td>
                  <span class="badge bg-label-success">Active</span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  2
                </th>
                <td>
                  Elon Musk
                </td>
                <td>
                  BNA-4512
                </td>
                <td>
                  4578787845787
                </td>
                <td >
                  A
                </td>
                <td>
                  Jun 8,2024
                </td>
                <td>
                  <span class="badge bg-label-success">Active</span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  3
                </th>
                <td>
                  Elon Musk
                </td>
                <td>
                  BNA-4512
                </td>
                <td>
                  4578787845787
                </td>
                <td >
                  4
                </td>
                <td>
                  Jun 8,2024
                </td>
                <td>
                  <span class="badge bg-label-danger">Lost</span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  5
                </th>
                <td>
                  Elon Musk
                </td>
                <td>
                  BNA-4512
                </td>
                <td>
                  4578787845787
                </td>
                <td>
                  A
                </td>
                <td>
                  Jun 8,2024
                </td>
                <td>
                  <span class="badge bg-label-success">Active</span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  6
                </th>
                <td>
                  Elon Musk
                </td>
                <td>
                  BNA-4512
                </td>
                <td>
                  4578787845787
                </td>
                <td>
                  A
                </td>
                <td>
                  Jun 8,2024
                </td>
                <td>
                  <span class="badge bg-label-danger">Suspended</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scriptData %}
  <script src="{% static "scripts/dashboard/chart.js" %}"></script>
{% endblock scriptData %}
