{% extends "Base/index.html" %}
{% block cssData %}
  <style>
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
  </style>
{% endblock cssData %}

{% load static %}
{% block content %}
    {% csrf_token %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Users /</span> {{ pageTitle }}
        </h4>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <a href={% url 'UsersList' %} class="btn btn-danger">Go Back</a>
                    </div>
                    <div class="card-body">
                        <form action="javascript:void(0);">
                            <div class="row">
                                <div class="col-sm-12 col-lg-4">
                                    <div class="mb-3">
                                        <label for="firstNameinput" class="form-label">First Name</label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Enter first name"
                                               id="FName">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-12 col-lg-4">
                                    <div class="mb-3">
                                        <label for="lastNameinput" class="form-label">Last Name</label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Enter last name"
                                               id="LName">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-12 col-lg-4">
                                    <div class="mb-3">
                                        <label for="phonenumberInput" class="form-label">Phone Number</label>
                                        <input type="number"
                                               maxlength="3"
                                               class="form-control"
                                               placeholder="Phone Number"
                                               id="Phone">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-12 col-lg-4">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email Address</label>
                                        <input type="email"
                                               class="form-control"
                                               placeholder="example@gmail.com"
                                               id="Email">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-4 col-sm-12  d-flex gap-3">
                                    <div class="mb-3 flex-1 col-6">
                                        <label for="UserType" class="form-label">User Type</label>
                                        <select id="UserType" class="form-select">
                                            <option selected value="">
                                                Select User Type
                                            </option>
                                            <option value="Admin">
                                                Admin
                                            </option>
                                            <option value="State">
                                                State
                                            </option>
                                            {% if request.user.is_superuser %}
                                                <option value="Superuser">
                                                    Superuser
                                                </option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-lg col-sm-12 mb-3 ">
                                        <label for="state" class="form-label">State</label>
                                        <select id="state" class="form-select" disabled>
                                            <option >
                                                Select State
                                            </option>
                                            {% for state in states %}
                                                <option value="{{ state.state_id }}">
                                                    {{ state.state_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="mb-3">
                                        <label for="Gender" class="form-label">Gender</label>
                                        <select id="Gender" class="form-select">
                                            <option selected value="">
                                                Select Gender
                                            </option>
                                            <option value="Male">
                                                Male
                                            </option>
                                            <option value="Female">
                                                Female
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-12 col-lg-12">
                                    <div class="mb-3">
                                        <div>
                                            <label for="formFile" class="form-label">Upload Image</label>
                                            <input class="form-control" type="file" id="Image">
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="text-end">
                                        <button type="submit"  id="Save"class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src={% static 'scripts/users/add_users.js' %}></script>
{% endblock %}
