{% load static %}
{% block cssData %}
    <link rel="stylesheet" href="{% static "assets/css/customer/modal.css" %}"/>
{% endblock cssData %}
{% block content %}
    {% csrf_token %}
    <div class="overlay hidden"></div>
    <div class="model-contaier hidden">
        <div class="model">
            <div class="model-content">
                <h4>Change Password</h4>
                <form id="changeform">
                    <label for="firstNameinput" class="form-label">Old Password</label>
                    <input type="password"
                           class="form-control"
                           placeholder="Old Password"
                           id="opassword">
                    <label for="firstNameinput" class="form-label">New Password</label>
                    <input type="password"
                           class="form-control"
                           placeholder="New Password"
                           id="npassword">
                    <label for="firstNameinput" class="form-label">Confirm Password</label>
                    <input type="password"
                           class="form-control"
                           placeholder="Confirm Password"
                           id="cpassword">
                    <div class="d-flex align-items-end justify-content-end mt-3">
                        <button class="btn btn-primary">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src="{% static "scripts/users/passwords.js" %}"></script>
{% endblock scriptData %}
