{% extends 'Base/index.html' %}
{% load static %}
{% block cssData %}
  <link rel="stylesheet" href="{% static "assets/css/dahsboard.css" %}"/>
{% endblock cssData %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Register a Vehicle /</span> {{pageTitle}}</h4>   
     <!-- Basic Layout -->
     <div class="row">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Basic info</h5>

          <div class="row">
            <div class="col-md-6 mb-0">
              <div class="mb-3">
                  <label class="form-label">Rv No</label>
                  <input type="text" class="form-control" id="personal_id" placeholder="RV-563636">
              </div>
          </div>
            <div class="col-md-6 mb-0">
                <div class="mb-3">
                    <label class="form-label">Ownar's Name</label>
                    <input type="text" class="form-control" id="ownar_name" disabled placeholder="maxamed hashi">
                </div>
            </div>
            <div class="col-md-6 mb-0">
              <div class="mb-3">
                  <label class="form-label">Owner Mother's Name</label>
                  <input type="text" class="form-control" id="ownar_name" disabled placeholder="asho ali maxamed">
              </div>
          </div>
          <div class="col-md-6 mb-0">
            <div class="mb-3">
                <label class="form-label">Personal ID</label>
                <input type="text" class="form-control" id="personalID" disabled  placeholder="p-645267">
            </div>
        </div>
            </div>
            
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vehicle Info</h5>
          <p class="card-text">fill the required feild to register a new vehicle</p>
          <div class="row">
              <div class="col-md-6 mb-0">
                <div class="mb-3">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
            <label>model_brand</label>
<select name="model_brand" class="form-control">
{% for i in vehicles %}
<option value="{{i.Name}}">{{i.Name}}</option>
{% endfor %}
</select>
<div class="form-row">
  <div class="form-group col-md-6">
      <label>COLOR</label>
<select name="doctor" class="form-control">
{% for i in colors %}
<option value="{{i.name}}">{{i.name}}</option>
{% endfor %}
</select>

  <select class="form-control" value="{{vehicle.cylinder}}" name="gender">
    <option value="male">2wheler</option>
    <option value="female">4</option>
    <option value="others">Other</option>
</select>
    <div class="form-group col-md-6">
        <label for="age">weigh</label>
        <input type="text" value="{{patient.age}}" placeholder="Age" class="form-control" name="age">
    </div>
    <div class="form-group col-md-6">
        <label for="phone">hp</label>
        <input type="text" placeholder="Phone" value="{{patient.phone}}" class="form-control" name="phone">
   </div>
   <div class="form-group col-md-6">
       <label for="address">passenger seats</label>
       <input type="text" value="{{patient.address}}" placeholder="address" class="form-control" name="address">
    </div>
   <div class="form-group col-md-6">
       <label for="address">vin</label>
       <input type="text" value="{{patient.patient_type}}" placeholder="patient_type" class="form-control" name="patient_type">
   </div>
   <div class="form-group col-md-6">
    <label for="address">engine no</label>
    <input type="text" value="{{patient.patient_type}}" placeholder="patient_type" class="form-control" name="patient_type">
</div>
<div class="form-group col-md-6">
  <label for="address">Rv no</label>
  <input type="text" value="{{patient.patient_type}}" placeholder="patient_type" class="form-control" name="patient_type">
</div>
   <div class="form-group col-md-6">
    <label for="gender">Owner</label>
     <select class="form-control" value="{{vehicle.owner}}" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Other</option>
    </select>
          <button class="btn btn-primary">Save</button>
    </form>


<!-- <form action="" method="POST">
            {% csrf_token %}
            
            <div class="col-md-6 mb-0">
              <div class="mb-3">
              <label for="gender">select a Model</label>
               <select class="form-control" value="{vehicle.model}}" name="gender">
                  <option value="">toyota</option>
                  <option value="">lambargini</option>
                  <option value="others">Other</option>
              </select>
              </div>
              </div>
        
          
      <div class="col-md-6 mb-0">
            <div class="mb-3">
        <label class="form-label">Model Year</label>
          <select name="state_name" id="place_issue" value="{{vehicle.year}}"  class="form-control form-select select2">
              <option value="">Select a Model Year</option>
              <option value="pt">1960</option>
              <option value="br">.....</option>
             
          </select>
      </div>
      </div>

     <div class="col-md-6 mb-0">
            <div class="mb-3">
        <label class="form-label">Origin</label>
        <select name="state_name" id="place_issue" value="{{vehicle.origin}}" class="form-control form-select select2">
            <option value="">Select Origin</option>
            <option value="pt">1960</option>
            <option value="br">.....</option>
           
        </select>
    </div>
    </div>


  <div class="col-md-6 mb-0">
            <div class="mb-3">
        <label class="form-label">Color</label>
      <select name="state_name" id="place_issue"  value="{{vehicle.color}}" class="form-control form-select select2">
          <option value="">Select a Color</option>
          <option value="pt">Red</option>
          <option value="br">.....</option>
         
      </select>
  </div>
  </div>

  <div class="col-md-6 mb-0">
    <div class="mb-3">
<label class="form-label">Acylender</label>
    <select name="state_name" id="place_issue"  value="{{vehicle.cylinder}}" class="form-control form-select select2">
        <option value="">Select a Cylender</option>
        <option value="pt">6 wheeler</option>
        <option value="br">.....</option>
       
    </select>
</div>
</div>

<div class="col-md-6 mb-0">
  <div class="mb-3">
<label class="form-label">Weight</label>
      <input type="text" class="form-control" id="weight"  value="{{vehicle.weigh}}"  placeholder="Enter a weight">
  </div>
</div>

<div class="col-md-6 mb-0">
  <div class="mb-3">
<label class="form-label">Hours Power(HP)</label>
      <input type="text" class="form-control" id="personalID"  placeholder="Hours Power">
  </div>
</div>

<div class="col-md-6 mb-0">
  <div class="mb-3">
      <label class="form-label">Passenger Seats</label>
      <input type="text" class="form-control" id="personalID"  placeholder="Passenger seats">
  </div>
</div>

<div class="col-md-6 mb-0">
  <div class="mb-3">
      <label class="form-label">Registration Number</label>
      <input type="text" class="form-control" id="personalID"   placeholder="VIN">
  </div>
</div>

<div class="col-md-6 mb-0">
  <div class="mb-3">
      <label class="form-label">Engine Number</label>
      <input type="text" class="form-control" id="personalID"  placeholder="Engine number">
  </div>
</div>
<div class="form-group col-md-12">
  <div class="mt-3">
      <button class="btn btn-primary">Save</button>
    
 
  </div>
</div>
</form> -->
<div class="col-sm-auto ms-auto">
  <div class="hstack gap-2">
      <a href="{% url 'veiw-vehicle' %}" class="btn btn-danger">
          Go Back
      </a>
  </div>
</div> 
</div>


          </div>
        </div>
      </div>
</div>



   



{% endblock content %}

