{% extends 'Base/index.html' %}
{% load static %}
{% block cssData %}
  <link rel="stylesheet" href="{% static "assets/css/dahsboard.css" %}"/>
{% endblock cssData %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / Vehicle  /</span> {{pageTitle}}</h4>   
     <!-- Basic Layout -->
     <div class="row">
        <div class="col-md-12 ">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Transfer From</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-0">
                          <div class="mb-3">
                              <label class="form-label">Rv ID</label>
                              <input type="text" class="form-control" id="personal_id"  placeholder="RV ID">
                          </div>
                      </div>
                        <div class="col-md-6 mb-0">
                            <div class="mb-3">
                                <label class="form-label">new Ownar's Name</label>
                                <input type="text" class="form-control" id="ownar_name"  placeholder="Ownar Name">
                            </div>
                        </div>
                        <div class="col-md-6 mb-0">
                            <div class="mb-3">
                                <label class="form-label">Mother's  Name</label>
                                <input type="text" class="form-control" id="mother_name" disabled placeholder="Mother's Name">
                            </div>
                        </div>

                        <div class="col-md-6 mb-0">
                          <div class="mb-3">
                              <label class="form-label">NeW Ownar mothers Name</label>
                              <input type="text" class="form-control" id="ownar_name" disabled  placeholder="New Ownar Mother's Name">
                          </div>
                      </div>

                      <div class="col-md-6 mb-0">
                        <div class="mb-3">
                            <label class="form-label">Personal ID</label>
                            <input type="text" class="form-control" id="mother_name" disabled placeholder="Mother's Name">
                        </div>
                    </div>
                        
            
                        <div class="col-md-6 mb-0">
                          <div class="mb-3">
                                <label class="form-label">Personal ID</label>
                                <input type="text" class="form-control"  disabled id="personal_id" placeholder="PersonalID">
                            </div>
                        </div>
                        <div class="col-md-6 mb-0">
                          <div class="mb-3">
                          <label for="exampleFormControlTextarea1" class="form-label">Transfer Reason</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                      </div>
                      </div>
                      <div class="col-md-6 mb-0">
                        <div class="col mt-5">
                          
                              <label for="doc" class="uppload-btn btn btn-primary">
                                  <i class="bx bx-upload"></i>
                                  Click to Upload
                              </label>
                              <input type="file" id="doc" hidden/>
                          </div>
                        </div>
                          <div class="col-md-6 mb-0">
                            <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Document Type</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        </div>
                    
                    <div class="col-md-4 mb-1">
                      <div class="col mt-5">
                        <button class="btn btn-primary">Save</button>
                      </div>
                    </div>  
                     
                      
                       
                        
                    
                      </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
       
      </div>
</div>
<div class="container-xxl flex-grow-1 container-p-y"> 
     <!-- Basic Layout -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Transfer History</h3>
                </div>
                <div class="card-body">
                    <div class="row">


    <div class="row table-responsive">
      <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
        <thead>
            <tr>
                <th>rv_number</th>
                <th>old_owner</th>
                <th>new_owner</th>
                <th>vehicle_type</th>
                
               
                
            </tr>
        </thead>
            <tbody>
                {% for trans in transfer %}
                <tr>
                    <td>{{trans.rv_number}}</td>
                    <td>{{trans.old_owner}}</td>
                    <td>{{trans.new_owner}}</td>
                    <td>{{trans.vehicle}}</td>
                    
                   
                    
               </tr>
                    {% endfor %}
                </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
   



{% endblock content %}

