{% extends "Base/index.html" %}
{% load static %}
{% block content %}
{% include "./transfer_model.html" %}
{% include "./assign_model.html" %}
{% include "./code.html" %}  
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Home / Vehicles /</span> {{ pageTitle }}
        </h4>
        {% if perms.Vehicles.add_code_plate %}
        <div class="col-sm-8.5">
            <p align="right">
                <button type="button" id="code_btn" class="btn btn-primary">Add Plate Code</button>
            </p>
        {% endif %}
        <div class="col-sm-8.5">
            <input type="text" class="form-control" hidden="true">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row mb-2 g-4 align-items-center">
                                <div class="col-sm-auto ms-auto">
                                    <div class="hstack gap-2">
                                        <div class="form-group">
                                            <select id="DataNumber"
                                                    name="DataNumber"
                                                    DataNumber="{{ DataNumber }}"
                                                    class="form-control select2 w-100">
                                                <option value="5">
                                                    5
                                                </option>
                                                <option value="10">
                                                    10
                                                </option>
                                                <option value="30">
                                                    30
                                                </option>
                                                <option value="50">
                                                    50
                                                </option>
                                                <option value="100">
                                                    100
                                                </option>
                                            </select>
                                        </div>
                                        <form autocomplete="off">
                                            <div class="input-group mr-0">
                                                <input id="SearchQuery"
                                                       type="text"
                                                       placeholder="Search..."
                                                       value="{{ SearchQuery }}"
                                                       class="form-control"
                                                       aria-label="Recipient's"
                                                       aria-describedby="button-addon2"/>
                                                <button class="btn btn-primary" type="button" id="button-addon2">
                                                    <i class="bx bx-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-4 py-4">
                                <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="wd-15p border-bottom-0">Vehicle ID</th>
                                            <th class="wd-15p border-bottom-0">owner</th>
                                            <th class="wd-15p border-bottom-0">vin</th>
                                            <th class="wd-15p border-bottom-0">Plate Number</th>
                                            <th class="wd-15p border-bottom-0">Assign A plate</th>
                                            <th class="wd-15p border-bottom-0">Action</th>
                                            <th class="wd-15p border-bottom-0">Transfer Vehicle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                            {% for veh in vehicles %}
                                                <tr>
                                                    <td>{{ veh.vehicle_id }}</td>
                                                    <td>{{ veh.owner }}</td>
                                                    <td>{{ veh.vin }}</td>
                                                     <td>
                                                        {% if veh.plate_no %}
                                                            {{ veh.plate_no }}
                                                        {% else %}
                                                            <p>Assign Plate First</p>
                                                        {% endif %}
                                                    </td> 
                                                    <td>
                                                        {% if perms.Vehicles.add_plate %}
                                                            {% if veh.plate_no is None %}
                                                                <button type="button"
                                                                        class="btn btn-success text-white"
                                                                        id="assign_btn"
                                                                        data-assignvehicleid="{{ veh.vehicle_id }}">
                                                                    Assign plate
                                                                </button>
                                                            {% else %}
                                                                <p>Already Assigned</p>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td class="d-flex align-items-center justify-content-center fs-4">
                                                        {% if perms.Vehicles.view_vehicle %}
                                                            <a href="{% url 'vehicle-profile' veh.vehicle_id %}">
                                                                <i class='menu-icon bx bx-low-vision'></i>
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if perms.Vehicles.add_transfare_vehicles %}
                                                            <button type="button"
                                                                    class="btn btn-primary text-white"
                                                                    id="transferbtn"
                                                                    data-vehicleid="{{ veh.vehicle_id }}">
                                                                Transfer
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% comment %} {% else %}
                                            <tr>
                                                <td colspan="8" class="text-center">No Car Found</td>
                                            </tr> 
                                       {% endif %} {% endcomment %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-3 col-md-12 d-flex justify-content-between align-items-center">
                                <div activePage = {{ vehicles.number }} class="col-md-6 activePage">
                                    Showing {{ vehicles.number }} to {{ vehicles.paginator.num_pages }} of {{ total }}.
                                </div>
                                <div class="col-md-6 d-flex justify-content-end align-items-center">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <li class="page-item first {% if not vehicles.has_previous %}disabled{% endif %}"
                                                page="1">
                                                <a class="page-link" href="javascript:void(0);">
                                                    <i class="tf-icon bx bx-chevrons-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item prev {% if not vehicles.has_previous %}disabled{% endif %}"
                                                page="{% if vehicles.has_previous %}{{ vehicles.previous_page_number }}{% else %}No Page{% endif %}">
                                                <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i
                                                ></a>
                                            </li>
                                            <li class="page-item next {% if not vehicles.has_next %}disabled{% endif %}"
                                                page="{% if vehciles.has_next %}{{ vehicles.next_page_number }}{% else %}No Page{% endif %}">
                                                <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i
                                                ></a>
                                            </li>
                                            <li class="page-item last {% if not vehicles.has_next %}disabled{% endif %}"
                                                page="{{ vehicles.paginator.num_pages }}">
                                                <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
<script src={% static 'assets/js/jquery-ui/ui.js' %}></script>
<script src={% static "scripts/vehicle/code.js" %}></script>
<script src={% static "scripts/vehicle/vehicles.js" %}></script>
<script src={% static "scripts/vehicle/assign_model.js" %}></script>
<script src={% static "scripts/vehicle/transfereModel.js" %}></script>
{% endblock scriptData %}
