{% load static %}
{% block cssData %}
    <link rel="stylesheet" href="{% static "assets/css/dahsboard.css" %}"/>
    <link rel="stylesheet" href={% static 'assets/css/jquery-ui/ui.css' %}>
    <link rel="stylesheet" href="{% static "assets/css/customer/modal.css" %}"/>
    <style>.ui-autocomplete { z-index:2147483647; }</style>
{% endblock cssData %}
{% block content %}
    <div class="overlay-code hidden"></div>
    <div class="containerr_code hidden">
        <div class="model-code">
            <div class="model-content">
                <div>
                    <h4>Manage MOT</h4>
                    <hr/>
                </div>
                <form id="testbtn">
                    {% csrf_token %}
                   <div class="row">
                        <div class="col-md-6 mb-0">
                            <label for="cat" class="form-label">Vehicle Model</label>
                            <select class="form-select" id="testcat" aria-label="cat">
                                <option selected>
                                    Select a brand
                                </option>
                                {% for cat in all_brands %}
                                    <option value="{{ cat.brand_id }}">
                                        {{ cat.brand_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-0">
                            <div class="mb-3">
                               <label class="form-label">Test Meter</label>
                               <input type="text"
                                   class="form-control"
                                   id="meter"
                                   placeholder="Enter Code Name"
                                   required="required">
                           </div>
                       </div>
                       <div class="col-md-6 mb-0">
                        <div class="mb-3">
                           <label class="form-label">Expired Date</label>
                           <input type="text"
                               class="form-control"
                               id="exp_date"
                               placeholder="Enter Code Name"
                               required="required">
                       </div>
                   </div>
                   <div class="col-md-6 mb-0">
                       <div class="mb-3">
                          <label class="form-label">Issue Date</label>
                          <input type="text"
                              class="form-control"
                              id="reg_dat"
                              placeholder="Enter Code Name"
                              required="required">
                      </div>
                  </div>
                  <div class="col-md-6 mb-0">
                    <div class="mb-3">
                        <label for="cat" class="form-label">Test elements</label>
                        <select class="form-select" id="testcat" aria-label="cat">
                            <option selected>
                                Select Element
                            </option>
                            {% for cat in tested_el %}
                                <option value="{{ cat.el_id }}">
                                    {{ cat.el_name }}
                                </option>
                            {% endfor %}
                        </select>
                   </div>
               </div>
               <div class="col-md-6 mb-0">
                <label for="cat" class="form-label">Test Category</label>
                <select class="form-select" id="testcat" aria-label="cat">
                    <option selected>
                        Select A Category
                    </option>
                    {% for cat in catigories %}
                        <option value="{{ cat.cat_id }}">
                            {{ cat.cat_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
              </div>
                 </div>    
                 <div class="action-btn">
                    <button type="button" class="btn btn-outline-danger me-4 Close-btn">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
               


                </form>
              
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptData %}
    <script src={% static "scripts/MOT/edit_mot.js" %}></script>
{% endblock scriptData %}


