{% extends "Base/print_base.html" %}
{% load static %}
{% block cssStyle %}
    <style>
    body{
     -webkit-print-color-adjust: exact;
     font-size:10px;
     display:flex;
     justify-content: start;
     align-items: center;
     flex-direction: column;
     box-sizing: border-box;
     min-width: 100%;    
    }

    table {
     border-collapse: collapse;
   }
  td { 
     padding: 4px;
     text-align: center;
     border-bottom: 1px solid rgba(0,0,0,0.3);
   }
   
   th{
     
     color:white;
     padding: 4px;
     text-align: center;
     
   }

   tr {
     page-break-inside: avoid;
   }

    .page_design{         
        width:95%;         
        page-break-inside: avoid;
    }

    
    @media print{
     tr {
       page-break-inside: avoid;
     }
     td {
       page-break-inside: avoid;
     }
     th {
       page-break-inside: avoid;
     }
   }

   .report-heade{
    display:flex;
    align-items:center;
    justify-content: space-between
   }

   .coimg {
    object-fit:contain;
    object-position:center;
    heigh:200px !important;!
    border-radius:15px !important;
   }

    </style>
{% endblock %}
{% block printData %}
    <div class="container page_design w-100">
        <div class="w-100 d-flex align-items-center justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center flex-column">
                <img src="{% static 'assets/img/kalawito.png' %}"
                     alt="kalawito"
                     width="90%"
                     height="auto"
                     class="card-top">
                <div class="border w-100 mb-4"></div>
                <div class="w-100 d-flex align-items-center justify-content-between">
                    <div class="">
                        <div class="d-flex align-items-center justify-content-start gap-3">
                            <h6 class="mb-0 text-black">Test #</h6>
                            <p class="mb-0 fs-6">{{ test.test_num }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-start gap-3 py-2">
                            <h6 class="mb-0 text-black">Auto Meter Read</h6>
                            <p class="mb-0 fs-6">{{ test.test_meter }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-start gap-3">
                            <h6 class="mb-0 text-black">Owner Name</h6>
                            <p class="mb-0 fs-6">{{ test.tested_vehicle.owner.full_name }}</p>
                        </div>
                    </div>
                    {% comment %} the second div {% endcomment %}
                    <div>
                        <div class="d-flex align-items-center justify-content-start gap-3">
                            <h6 class="mb-0 text-black">Test Date</h6>
                            <p class="mb-0 fs-6">{{ test.issue_date }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-start gap-3 py-2">
                            <h6 class="mb-0 text-black">Expire Date</h6>
                            <p class="mb-0 fs-6">{{ test.expired_date }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-start gap-3">
                            <h6 class="mb-0 text-black">Mobile</h6>
                            <p class="mb-0 fs-6">{{ test.tested_vehicle.owner.phone }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex align-items-center justify-content-center flex-column mt-5">
                <p class="fw-bold fs-6">TEST RESULT</p>
                <table class="table w-100 mb-0 border">
                    <thead class="thead-dark">
                        <tr style="background-color:#379CE4">
                            <th class="wd-15p text-white px-2">#</th>
                            <th class="wd-15p text-white px-2">Test Category</th>
                            <th class="wd-15p text-white px-2">Details</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr class="">
                            <td class="">{{ test.test_cat.cat_id }}</td>
                            <td class="">{{ test.test_cat.cat_name }}</td>
                            <td>
                                <table class="table w-100 mb-0">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="background-color:#379CE4" class="text-white ps-2 text-start">Test Name</th>
                                            <th style="background-color:#379CE4" class="text-white ps-2 text-start">Result</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        {% for res in test_res %}
                                            <tr>
                                                <td class="ps-2 border-bottom-1 py-1 text-start">{{ res.test_el.el_name }}</td>
                                                <td class="ps-2 border-bottom-1 py-1 text-{{ res.show_result.result_class }} text-start">
                                                    {{ res.show_result.result_status }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% comment %} examiners {% endcomment %}
            <div class="w-100 d-flex align-items-start justify-content-between mt-4">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <p >________________________________</p>
                    <p class="mb-0">{{ test.reg_user.first_name }} {{ test.reg_user.last_name }}</p>
                    <p class="mb-0 fw-bold">Authorizer</p>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <p>
                        ________________________________
                    </p>
                    <p>
                        Ministery Approved
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex align-items-center justify-content-center flex-column mt-2">
        <hr class="w-100">
        <p class="mb-0">
            Address - Shangaani - Mobile - 0615777577 - Email - info@mot.so
        </p>
    </div>
</div>
{% endblock printData %}
{% block scriptsJS %}
    <script>
   window.print();
    window.onafterprint = function () {
        window.location.replace("/vehicles/view_mots");
    } 
    </script>
{% endblock scriptsJS %}
