{% extends "Base/index.html" %}
{% load static %}
{% block cssData %}
    <link rel="stylesheet" href="{% static "assets/css/dahsboard.css" %}"/>
    <link rel="stylesheet" href={% static 'assets/css/jquery-ui/ui.css' %}>
    <link rel="stylesheet" href="{% static "assets/css/customer/modal.css" %}"/>
    <style>.ui-autocomplete { z-index:2147483647; }</style>
{% endblock cssData %}
{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Home / Mot list /</span> {{ pageTitle }}
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row mb-2 g-4 align-items-center">
                                <div class="col-sm-auto ms-auto">
                                    <div class="hstack gap-2">
                                        <div class="form-group">
                                            <select id="DataNumber"
                                                    name="DataNumber"
                                                    DataNumber="{{ DataNumber }}"
                                                    class="form-control select2 w-100">
                                                <option value="5">
                                                    5
                                                </option>
                                                <option value="10">
                                                    10
                                                </option>
                                                <option value="30">
                                                    30
                                                </option>
                                                <option value="50">
                                                    50
                                                </option>
                                                <option value="100">
                                                    100
                                                </option>
                                            </select>
                                        </div>
                                        <form autocomplete="off">
                                            <div class="input-group mr-0">
                                                <input id="SearchQuery"
                                                       type="text"
                                                       placeholder="Search..."
                                                       value="{{ SearchQuery }}"
                                                       class="form-control"
                                                       aria-label="Recipient's"
                                                       aria-describedby="button-addon2"/>
                                                <button class="btn btn-primary" type="button" id="button-addon2">
                                                    <i class="bx bx-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-4 py-4">
                                <table class="table table-striped card-table table-vcenter text-nowrap mb-0 table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="wd-15p border-bottom-0">Test #</th>
                                            <th class="wd-15p border-bottom-0">Test Meter</th>
                                            <th class="wd-15p border-bottom-0">Tested Vehicle</th>
                                            <th class="wd-15p border-bottom-0">Status</th>
                                            <th class="wd-15p border-bottom-0">Issue Date</th>
                                            <th class="wd-15p border-bottom-0">Expired Date</th>
                                            <th class="wd-15p border-bottom-0">Actions</th>
                                        </tr>
                                        <tbody>
                                            {% for test in tests %}
                                                <tr>
                                                    <td>{{ test.test_num }}</td>
                                                    <td>{{ test.test_meter }}</td>
                                                    <td>{{ test.tested_vehicle }}</td>
                                                    <td>{{ test.status }}</td>
                                                    <td>{{ test.issue_date }}</td>
                                                    <td>{{ test.expired_date }}</td>
                                                    <td>
                                                        <a href="{% url 'view_single_test' test.test_id %}"
                                                           type="button"
                                                           class="btn btn-primary text-white"
                                                           id="viewmodel">
                                                            <i class='bx bx-low-vision'></i>
                                                        </a>
                                                        {% if test.status == 'Passed' %}
                                                            <a href="{% url 'view_single_test' test.test_id %}"
                                                               type="button"
                                                               class="btn btn-primary text-white"
                                                               id="viewmodel">
                                                                <i class='bx bx-certification'></i>
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}
                                            </tbody>
                                        </thead>
                                    </table>
                                </div>
                                <div class="mb-3 col-md-12 d-flex justify-content-between align-items-center">
                                    <div activePage = {{ tests.number }} class="col-md-6 activePage">
                                        Showing {{ tests.number }} to {{ tests.paginator.num_pages }} of {{ total }}.
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item first {% if not tests.has_previous %}disabled{% endif %}"
                                                    page="1">
                                                    <a class="page-link" href="javascript:void(0);">
                                                        <i class="tf-icon bx bx-chevrons-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item prev {% if not vrhicles.has_previous %}disabled{% endif %}"
                                                    page="{% if tests.has_previous %}{{ tests.previous_page_number }}{% else %}No Page{% endif %}">
                                                    <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i
                                                    ></a>
                                                </li>
                                                <li class="page-item next {% if not tests.has_next %}disabled{% endif %}"
                                                    page="{% if tests.has_next %}{{ tests.next_page_number }}{% else %}No Page{% endif %}">
                                                    <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i
                                                    ></a>
                                                </li>
                                                <li class="page-item last {% if not tests.has_next %}disabled{% endif %}"
                                                    page="{{ tests.paginator.num_pages }}">
                                                    <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i
                                                    ></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} {% include "./edit_test.html" %}  {% endcomment %}
    {% endblock content %}
    {% block scriptData %}
        <script src={% static "scripts/MOT/view_mot.js" %}></script>
    {% endblock scriptData %}
